.k-block-type-testimonial img {
  display: block;
  margin-bottom: 0.75rem;
  max-height: 8rem;
  max-width: 8rem;
}
.k-block-type-testimonial-caption p {
  font-size: 1rem;
  line-height: 1.5rem;
  opacity: 0.5;
}