.cis__arrow-cta, a.cis__arrow-cta, button.cis__arrow-cta {
    position: relative;
    display: inline-block;
    z-index: 80;
    text-decoration: none;
    line-height: 24px;
    font-size: 24px;
    @extend .founders--medium;
    color: $gray-1;
    letter-spacing: -0.025em;
    padding: 20px 16px 12px 48px;
    transition: padding 1s var(--ease-quint-out);
    &:after {
        content: attr(data-text);
        position: absolute;
        top: 14px;
        left: 0;
        transform: translateX(48px);
        transition: transform .75s var(--ease-quint-out);
    }
    &:hover {
        transition: padding 1s var(--ease-quint-out);
        .cis__arrow-cta__deco-bar {
            transform: translateX(calc(100% - 16px));
            transition: transform .5s var(--ease-quint-in-out);
            &:before {
                transform: translateX(-100%) scaleX(.25);
                opacity: 0;
                transition: transform .5s var(--ease-quint-in-out), opacity .5s var(--ease-quint-out);
                transition-delay: 0s, .5s;
            }
        }
        &:after {
            transform: translateX(0);
            transition: transform .75s var(--ease-quint-in-out);
        }
        .cis__arrow-cta__arrow {
            transform: translateX(-24px);
            opacity: 1;
            transition: transform .75s var(--ease-quint-in-out), opacity .75s var(--ease-quint-out);
            transition-delay: 0s, .25s;
        }
        .cis__arrow-cta__ellipse__st0 {
            transform: scale(1);
            transition: transform .5s var(--ease-quint-in-out);
            transition-delay: .3s;
        }
        .cis__arrow-cta__ellipse__st1 {
            transform: scale(1);
            transition: transform .75s var(--ease-quint-in-out);
        }
    }
}
.cis__arrow-cta__deco-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: transform .5s var(--ease-quint-out);
    pointer-events: none;
    &:before {
        //*
        content: '';
        position: absolute;
        width: 40px;
        height: 3px;
        top: 50%;
        left: 0;
        margin-top: -6px;
        z-index: -1;
        transition: transform .5s var(--ease-quint-out), opacity .75s var(--ease-quint-out);
        background: red; //*/
    }
}
.cis__arrow-cta__text {
    position: relative;
    opacity: 0;
}
.cis__arrow-cta__arrow {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 13px;
    transform: translateX(-40px);
    opacity: 0;
    transition: transform .5s var(--ease-quint-out), opacity .75s var(--ease-quint-out);
    z-index: 1;
}
.cis__arrow-cta__ellipse {
    position: absolute;
    display: inline-block;
    top: -16px;
    right: 0;
    transform: translateX(7px);
    z-index: -1;
}
.cis__arrow-cta__ellipse__st0 {
    fill: $gray-5;
    transform-origin: 50%;
    transform: scale(0);
    transition: transform .5s var(--ease-quint-out);
}
.cis__arrow-cta__ellipse__st1 {
    fill: none;
    stroke: $gray-5;
    stroke-width: 2;
    transform-origin: 50%;
    transform: scale(0);
    transition: transform .5s var(--ease-quint-out);
}
/*=COMPRESSED VERSION
----------------------------------------------------------------------*/

.cis__arrow-cta--compressed {
    position: relative;
    display: inline-block;
    top: 0;
    right: 0;
    z-index: 30;
    transition: transform .75s var(--ease-quint-out);
    transition-delay: .25s;
    transform: translateY(-32px);
    .cis__arrow-cta__arrow {
        position: absolute;
        //display: inline-block;
        right: -18px;
        top: 13px;
        transform: translateX(-40px);
        opacity: 1;
        transition: transform 1s var(--ease-quint-out), opacity .75s var(--ease-quint-out);
        z-index: 10;
    }
    .cis__arrow__st0 {
        fill: $gray-1;
        transition: fill 1s var(--ease-quint-out);
    }
    .cis__arrow-cta__ellipse {
        position: absolute;
        display: inline-block;
        //top: -16px;
        right: 0;
        transform: translateX(7px);
        z-index: 9;
    }
    .cis__arrow-cta__ellipse__st0 {
        fill: $gray-5;
        transform-origin: 50%;
        transform: scale(0);
        transition: transform 1s var(--ease-quint-out);
    }
    .cis__arrow-cta__ellipse__st1 {
        fill: none;
        stroke: $gray-5;
        stroke-width: 2;
        transform-origin: 50%;
        transform: scale(.75);
        transition: transform 1s var(--ease-quint-out);
    }
}
/*=COLOR CODES
----------------------------------------------------------------------*/

.cis__arrow-cta--orange {
    .cis__arrow-cta__deco-bar {
        &:before {
            background: $orange-1;
        }
    }
    .cis__arrow__st0 {
        fill: $orange-1;
    }
}
.cis__arrow-cta--blue {
    .cis__arrow-cta__deco-bar {
        &:before {
            background: $blue-1;
        }
    }
    .cis__arrow__st0 {
        fill: $blue-1;
    }
}
.cis__arrow-cta--pink {
    .cis__arrow-cta__deco-bar {
        &:before {
            background: $pink-1;
        }
    }
    .cis__arrow__st0 {
        fill: $pink-1;
    }
}
.cis__arrow-cta--red {
    .cis__arrow-cta__deco-bar {
        &:before {
            background: $red-1;
        }
    }
    .cis__arrow__st0 {
        fill: $red-1;
    }
}
.cis__arrow-cta--yellow {
    .cis__arrow-cta__deco-bar {
        &:before {
            background: $yellow-1;
        }
    }
    .cis__arrow__st0 {
        fill: $yellow-1;
    }
}
.cis__arrow-cta--green {
    .cis__arrow-cta__deco-bar {
        &:before {
            background: $green-1;
        }
    }
    .cis__arrow__st0 {
        fill: $green-1;
    }
}
.cis__arrow-cta--coral {
    .cis__arrow-cta__deco-bar {
        &:before {
            background: $coral-1;
        }
    }
    .cis__arrow__st0 {
        fill: $coral-1;
    }
}
.cis__arrow-cta--purple {
    .cis__arrow-cta__deco-bar {
        &:before {
            background: $purple-1;
        }
    }
    .cis__arrow__st0 {
        fill: $purple-1;
    }
}