.article {
    position: relative;
    margin-bottom: 80px;
    a {
        text-decoration: none;
    }
    h4, h5, h6 {
        text-transform: uppercase;
    }
}
.article__category {
    position: relative;
    color: $gray-2;
    text-transform: uppercase;
    strong {
        color: $gray-2;
        &:after {
            content: ',';
            position: relative;
            margin-right: 8px;
        }
        &:last-of-type {
            &:after {
                content: '.';
                position: relative;
                margin-right: 0;
            }
        }
    }
    margin-bottom: 24px;
}
.article__author-list {
    position: relative;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.article__author-list__item {
    position: relative;
    margin-right: 8px;
    &:last-of-type {
        margin-right: 0;
    }
}
.article__author-list__item--avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
}
.article__author-list__item--name {
    position: relative;
    margin-bottom: 0;
    line-height: 1;
    padding-top: 6px;
    p {
        margin-bottom: 0;
        line-height: 1;
    }
}
.article__justify-content-center {
    justify-content: center;
}
/*=ARTICLE FOOTER
----------------------------------------------------------------------*/

.article__functions {
    position: relative;
    background: $white;
    padding-top: 120px;
    padding-bottom: 120px;
}