.cis__articles {
    position: relative;
    display: flex;
    justify-content: center;
}
/*=PAGINATION
----------------------------------------------------------------------*/

.cis__articles__pagination {
    position: relative;
}
.cis__articles__pagination__list {
    position: relative;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.cis__articles__pagination__list--center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-content: center;
}
.cis__articles__pagination__list__item {
    position: relative;
    //*
    a {
        position: relative;
        display: inline-block;
        //color: $gray-3;
        //@extend .sliding-u-l-r-l;
        text-decoration: none;
        transition: color .35s var(--ease-quint-in);
        &:hover {
            color: $orange-1;
            transition: color .65s var(--ease-quint-out);
        }
    }
    //*/
}
.cis__articles__pagination__list__item--range {
    position: relative;
    //*
    a {
        position: relative;
        display: inline-block;
        padding-left: 16px;
        padding-right: 16px;
        //color: $gray-3;
        @extend .sliding-u-l-r-l;
        text-decoration: none;
        transition: color .35s var(--ease-quint-in);
        &:hover {
            color: $gray-0;
            transition: color .65s var(--ease-quint-out);
            &:before {
                background: $gray-0;
                height: 3px;
                bottom: 4px;
            }
        }
        &:after {
            background: $gray-0;
            height: 3px;
            bottom: 4px;
        }
    }
    //*/
}
.cis__articles__pagination__list__item--active {
    a {
        &:after {
            background: $orange-1;
            height: 3px;
            width: 100%;
            bottom: 4px;
        }
    }
}
.cis__articles__pagination__list__item--inactive {
    position: relative;
    opacity: .15;
    @extend .no-select;
}
/*=DELETE LATER
----------------------------------------------------------------------*/

.ener__latest-releases__feed__pagination {
    position: relative;
}
.inactive-pagination {
    opacity: .15;
    @extend .no-select;
}
.ener__latest-releases__feed__pagination__list {
    position: relative;
    margin: 0;
    list-style: none;
}
.ener__latest-releases__feed__pagination__list--left {
    text-align: right;
    @include media(small) {
        text-align: left;
    }
}
.ener__latest-releases__feed__pagination__list--right {
    text-align: left;
    @include media(small) {
        padding-right: 16px;
        text-align: right;
    }
}
.ener__latest-releases__feed--border-bottom {
    border-bottom: 1px solid $gray-6;
    padding-bottom: 120px;
    @include media(small) {
        padding-bottom: 40px;
    }
}