.cis__attract-cta {
    @extend .reset-button;
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    cursor: pointer;
    height: 70px;
    width: 70px;
    margin-top: -35px;
    z-index: 60;
    @include media(large) {
        width: 85px;
        height: 85px;
        margin-top: -42px;
    }
    @include media(small) {
        width: 56px;
        height: 56px;
        margin-top: -24px;
    }
    svg {
        pointer-events: none;
    }
    &:hover {
        /*
        .home__slider-button__text {
            color: $gray-0;
            transition: color 1200ms cubic-bezier(0.77, 0, 0.175, 1);
        }
        //*/
        .cis__attract-cta__bg__circle {
            opacity: 1;
            transition: opacity .5s var(--ease-quint-in-out), fill .5s var(--ease-quint-in-out);
        }
        .cis__attract-cta__icon {
            fill: $gray-0;
            transition: fill .75s var(--ease-quint-in-out);
        }
    }
    @include media(small) {
        .cis__attract-cta__bg__circle {
            opacity: 1;
            transition: opacity .5s var(--ease-quint-in-out), fill .5s var(--ease-quint-in-out);
        }
    }
}
.cis__attract-cta__svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 70px;
    @include media(large) {
        width: 85px;
        height: 85px;
    }
    @include media(small) {
        width: 56px;
        height: 56px;
    }
}
.cis__attract-cta__path {
    pointer-events: none;
    fill: none;
    //stroke: $white;
    stroke: $gray-4;
    stroke-width: 2px;
    stroke-miterlimit: 10;
}
.cis__attract-cta__svg--a {
    z-index: 10;
}
.cis__attract-cta__svg--b {
    z-index: 20;
}
.cis__attract-cta__svg--c {
    z-index: 30;
}
.cis__attract-cta__path--b {
    stroke: $gray-0;
}
.cis__attract-cta__path--c {
    //stroke: $gray-5;
    stroke: $white;
}
.cis__attract-cta__bg__circle {
    position: absolute;
    @extend .center-align;
    //fill: $gray-5;
    fill: $white;
    z-index: 1;
    opacity: 0;
    transition: opacity 3s var(--ease-quint-out), fill .25s var(--ease-quint-out);
    pointer-events: none;
}
/*=CORAL BUTTON
----------------------------------------------------------------------*/

.cis__attract-cta--coral {
    .cis__svg__fill {
        fill: $gray-5;
    }
    .cis__attract-cta__path {
        stroke: $coral-1;
    }
    .cis__attract-cta__path--b {
        stroke: $gray-0;
    }
    .cis__attract-cta__path--c {
        //stroke: $pink-1;
    }
    .cis__attract-cta__bg__circle {
        fill: $coral-1;
        opacity: 1;
    }
    &:hover {
        /*
        .home__slider-button__text {
            color: $gray-0;
            transition: color 1200ms cubic-bezier(0.77, 0, 0.175, 1);
        }
        //*/
        .cis__attract-cta__path {
            stroke: $gray-0;
            transition: stroke 1.25s var(--ease-quint-in-out);
        }
        .cis__attract-cta__path--b {
            stroke: $gray-0;
        }
        .cis__attract-cta__bg__circle {
            fill: $gray-0;
        }
    }
}
/*=PINK BUTTON
----------------------------------------------------------------------*/

.cis__attract-cta--pink {
    .cis__svg__fill {
        fill: $gray-5;
    }
    .cis__attract-cta__path {
        stroke: $pink-1;
    }
    .cis__attract-cta__path--b {
        stroke: $gray-0;
    }
    .cis__attract-cta__path--c {
        //stroke: $pink-1;
    }
    .cis__attract-cta__bg__circle {
        fill: $pink-1;
        opacity: 1;
    }
    &:hover {
        /*
        .home__slider-button__text {
            color: $gray-0;
            transition: color 1200ms cubic-bezier(0.77, 0, 0.175, 1);
        }
        //*/
        .cis__attract-cta__path {
            stroke: $gray-0;
            transition: stroke 1.25s var(--ease-quint-in-out);
        }
        .cis__attract-cta__path--b {
            stroke: $gray-0;
        }
        .cis__attract-cta__bg__circle {
            fill: $gray-0;
        }
    }
}
/*=YELLOW BUTTON
----------------------------------------------------------------------*/

.cis__attract-cta--yellow {
    .cis__svg__fill {
        fill: $gray-5;
    }
    .cis__attract-cta__path {
        stroke: $yellow-1;
    }
    .cis__attract-cta__path--b {
        stroke: $gray-0;
    }
    .cis__attract-cta__path--c {
        //stroke: $pink-1;
    }
    .cis__attract-cta__bg__circle {
        fill: $yellow-1;
        opacity: 1;
    }
    &:hover {
        /*
        .home__slider-button__text {
            color: $gray-0;
            transition: color 1200ms cubic-bezier(0.77, 0, 0.175, 1);
        }
        //*/
        .cis__attract-cta__path {
            stroke: $gray-0;
            transition: stroke 1.25s var(--ease-quint-in-out);
        }
        .cis__attract-cta__path--b {
            stroke: $gray-0;
        }
        .cis__attract-cta__bg__circle {
            fill: $gray-0;
        }
    }
}
/*=GREEN BUTTON
----------------------------------------------------------------------*/

.cis__attract-cta--green {
    .cis__svg__fill {
        fill: $gray-5;
    }
    .cis__attract-cta__path {
        stroke: $green-1;
    }
    .cis__attract-cta__path--b {
        stroke: $gray-0;
    }
    .cis__attract-cta__path--c {
        //stroke: $pink-1;
    }
    .cis__attract-cta__bg__circle {
        fill: $green-1;
        opacity: 1;
    }
    &:hover {
        /*
        .home__slider-button__text {
            color: $gray-0;
            transition: color 1200ms cubic-bezier(0.77, 0, 0.175, 1);
        }
        //*/
        .cis__attract-cta__path {
            stroke: $gray-0;
            transition: stroke 1.25s var(--ease-quint-in-out);
        }
        .cis__attract-cta__path--b {
            stroke: $gray-0;
        }
        .cis__attract-cta__bg__circle {
            fill: $gray-0;
        }
    }
}
/*=ICONS
----------------------------------------------------------------------*/

.cis__attract-cta__icon {
    position: absolute;
    width: 24px;
    z-index: 50;
    fill: $gray-1;
    //fill: $blue-0;
    @extend .center-align;
    transition: fill 1s var(--ease-quint-in-out);
}
.cis__attract-cta__icon--16 {
    width: 16px;
}
.cis__attract-cta__icon--32 {
    width: 32px;
}
.cis__attract-cta__icon--40 {
    width: 40px;
}