.cis__card {
    position: relative;
    //background: red;
    line-height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    p {
        font-size: 16px;
        line-height: 16px;
        color: $gray-2;
    }
    strong {
        color: $gray-1;
    }
}
/*=TEXT CONTENT
----------------------------------------------------------------------*/

.cis__card__container {
    position: absolute;
    z-index: 30;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cis__card__container--padding {
    padding: 40px;
    @include media(large) {
    
    }
    @include media(xl) {
        padding: 80px 160px 80px 40px;
    }
}
.cis__card__container--content {
    position: relative;
    background: white;
}
.cis__card__container__icon {
    position: relative;
    width: 24px;
    margin-bottom: 32px;
}
.cis__card__container__icon--pink {
    svg {
        fill: $pink-1
    }
}
.cis__card__container__icon--16 {
    width: 16px;
}
.cis__card__container__icon--32 {
    width: 32px;
}
.cis__card__container__icon--40 {
    width: 40px;
}
.cis__card__container__heading {
    @extend .founders--medium;
    font-size: calc(18px + (40 - 18) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(16px + (36 - 16) * ((100vw - 320px) / (1920 - 320)));
    letter-spacing: -.5px;
    margin-bottom: calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320)));
    color: $gray-1;
    padding-right: calc(0px + (32 - 0) * ((100vw - 320px) / (1920 - 320)));
    @include media(large) {
    
    }
    @include media(xl) {
        
    }
    word-break: break-word;
}
.cis__card__container__data {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.cis__card__container__share {
    p, strong, bold {
        @extend .founders--medium;
    }
}
.cis__card__container__footer {
    p, strong, bold {
        @extend .founders--medium;
    }
}
/*=ANCHOR
----------------------------------------------------------------------*/

.cis__card__anchor {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: red;
    opacity: 0;
}
.cis__card__anchor__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/*=IMAGE
----------------------------------------------------------------------*/

.cis__card__image {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    .--figure {
        //transform: scale(1.5);
    }
}