/*=CARD
----------------------------------------------------------------------*/

.cis__card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    background: $gray-5;
    margin-bottom: 80px;
    a {
        text-decoration: none;
    }
    h4, h5, h6 {
        text-transform: uppercase;
    }
    h1 {
        word-wrap: break-word;
    }
    h2 {
        word-wrap: break-word;
    }
    h3 {
        font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
        line-height: 1;
        margin-bottom: 0;
        word-wrap: break-word;
    }
    p {
        //font-size: 14px;
        //line-height: 20px;
        //color: $gray-2;
        strong {
            color: $gray-2;
        }
    }
    &:hover {
        .cis__card__bg {
            transform: scale(1.25);
            transition: transform 1s var(--ease-quint-out);
        }
        .cis__card__container {
            background: white;
            transition: background 1s var(--ease-quint-out);
        }
    }
}
.cis__card--bottom {
    justify-content: flex-end;
    .cis__card__container {
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
        @include media(large) {
            width: calc(100% - 48px);
            margin-left: 24px;
            margin-top: 96px;
            margin-bottom: 24px;
        }
    }
}
.cis__card--top {
    justify-content: flex-start;
    .cis__card__container {
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
        @include media(large) {
            width: calc(100% - 48px);
            margin-left: 24px;
            margin-top: 24px;
            margin-bottom: 96px;
        }
    }
}
/*=BG IMAGE
----------------------------------------------------------------------*/

.cis__card__bg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .4s var(--ease-quint-out);
}
/*=CONTENT
----------------------------------------------------------------------*/

.cis__card__container {
    position: relative;
    display: block;
    z-index: 50;
    background: rgba(255, 255, 255, 0.9);
    width: calc(100% - 24px);
    height: auto;
    padding: 48px 40px 32px 40px;
    margin-top: 24px;
    margin-bottom: 24px;
    @include media(large) {
        width: calc(100% - 48px);
        padding-right: 64px;
        margin-top: 48px;
        margin-bottom: 48px;
    }
    transition: background .4s var(--ease-quint-out);
}
.cis__card__share-title {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 20px;
    @extend .founders--medium;
    color: $gray-2;
}
.cis__card__share {
    position: relative;
    line-height: 0;
    margin-top: 8px;
    //display: inline-block;
}
.cis__card__icon-button {
    position: relative;
    display: inline-block;
    border-radius: 80px;
    width: 40px;
    height: 40px;
    background: $gray-5;
    transition: background 2s var(--ease-quint-out);
    margin-right: 8px;
    &:last-of-type {
        margin-right: 0;
    }
    svg {
        fill: $gray-2;
        position: absolute;
        @extend .center-align;
        transition: fill 2s var(--ease-quint-out);
    }
    &:hover {
        background: $gray-3;
        transition: background .75s var(--ease-quint-out);
        svg {
            fill: $white;
            transition: fill .75s var(--ease-quint-out);
        }
    }
}
.cis__card__icon-button--twitter {
    &:hover {
        background: #1da1f2;
        transition: background .75s var(--ease-quint-out);
        svg {
            fill: $white;
            transition: fill .75s var(--ease-quint-out);
        }
    }
}
.cis__card__icon-button--facebook {
    &:hover {
        background: #1877f2;
        transition: background .75s var(--ease-quint-out);
        svg {
            fill: $white;
            transition: fill .75s var(--ease-quint-out);
        }
    }
}
.cis__card__icon-button--linked-in {
    &:hover {
        background: #0077b5;
        transition: background .75s var(--ease-quint-out);
        svg {
            fill: $white;
            transition: fill .75s var(--ease-quint-out);
        }
    }
}
.cis__card__icon-button--copy-link {
    &:hover {
        background: $gray-2;
        transition: background .75s var(--ease-quint-out);
        svg {
            fill: $white;
            transition: fill .75s var(--ease-quint-out);
        }
    }
}
.cis__card__icon-button__tooltip {
    position: absolute;
    display: inline-block;
    right: 0;
    margin-right: -8px;
    @extend .vertical-align;
    //height: 24px;
    //width: auto;
    opacity: 0;
    visibility: hidden;
    span {
        position: relative;
        display: block;
        line-height: 1;
        transform: translateX(100%);
        background: $blue-0;
        padding: 8px 8px 5px 8px;
        width: auto;
        color: $gray-6;
        border-radius: 4px;

    }
}
/*=POST CARD
----------------------------------------------------------------------*/

.cis__post {
    margin-bottom: 80px;
    a {
        text-decoration: none;
    }
    h4, h5, h6 {
        text-transform: uppercase;
        margin-right: 16px;
    }
    h1 {
        word-wrap: break-word;
    }
    h2 {
        word-wrap: break-word;
    }
    h3 {
        font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
        line-height: 1;
        margin-bottom: 0;
        word-wrap: break-word;
    }
    p {
        //font-size: 14px;
        //line-height: 20px;
        //color: $gray-2;
        strong {
            color: $gray-2;
        }
    }
    &:hover {
        .cis__card__bg {
            transform: scale(1.3);
            transition: transform .75s var(--ease-quint-out);
        }
    }
}
.cis__post__anchor {
    position: relative;
    display: block;
    margin-bottom: 24px;
}
.cis__post__anchor--content {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
/*=STAT CARD
----------------------------------------------------------------------*/

.cis__stat-card {
    position: relative;
    background: $white;
    padding: 24px 24px 20px 24px;
    margin-bottom: 24px;
    border: 1px solid $gray-5;
}
.cis__stat-card__eyebrow-heading {
    position: relative;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.cis__stat-card__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid $gray-5;
    margin-bottom: 24px;
    h1, h2, h3, h4, h5, h6, p {
        padding-right: 24px;
    }
    h1 {
        font-size: calc(48px + (64 - 48) * ((100vw - 320px) / (1920 - 320)));
        line-height: 1.25;
        margin-bottom: 0;
    }
    word-break: break-word;
}
.cis__stat-card__heading-digit {
    position: relative;
    margin-right: 16px;
    margin-bottom: 0;
}
.cis__stat-card__graph {
    position: relative;
    padding: 0;
    margin: 0;
    width: calc(40px + (64 - 40) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 16px;
}
.cis__stat-card__subheading-p {
    position: relative;
    margin: 0;
    line-height: 1.25;
}
.cis__stat-card__graph__track {
    fill: none;
    stroke: $gray-4;
    stroke-miterlimit: 10;
    stroke-width: 8px;
}
.cis__stat-card__graph__line {
    fill: none;
    stroke: $blue-0;
    stroke-miterlimit: 10;
    stroke-width: 8px;
}
.cis__stat-card__graph--pink {
    stroke: $pink-1;
}
.cis__stat-card__graph--orange {
    stroke: $orange-1;
}
.cis__stat-card__graph--red {
    stroke: $red-1;
}
.cis__stat-card__graph--coral {
    stroke: $coral-1;
}
.cis__stat-card__graph--yellow {
    stroke: $yellow-1;
}
.cis__stat-card__graph--purple {
    stroke: $purple-1;
}
.cis__stat-card__graph--blue {
    stroke: $blue-0;
}
.cis__stat-card__graph--green {
    stroke: $green-1;
}
.cis__stat-card__icon {
    position: relative;
    padding: 0;
    margin: 0;
    width: calc(40px + (48 - 40) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 16px;
}
// FILLS
.cis__stat-card__icon--gray {
    fill: $gray-4;
}
.cis__stat-card__icon--pink {
    fill: $pink-1;
}
.cis__stat-card__icon--orange {
    fill: $orange-1;
}
.cis__stat-card__icon--red {
    fill: $red-1;
}
.cis__stat-card__icon--coral {
    fill: $coral-1;
}
.cis__stat-card__icon--yellow {
    fill: $yellow-1;
}
.cis__stat-card__icon--purple {
    fill: $purple-1;
}
.cis__stat-card__icon--blue {
    fill: $blue-0;
}
.cis__stat-card__icon--green {
    fill: $green-1;
}
/*=MEDIA QUERIES
----------------------------------------------------------------------*/

@include media(small) {}
@include media(large) {}