/*=COLOR MODULE
----------------------------------------------------------------------*/

/*=SECTION BLOCK COLORS
----------------------------------------------------------------------*/

//LIGHT
.--section-bg--light {
    background: $gray-6;
    color: $gray-1;
}
//DARK
.--section-bg--dark {
    background: $gray-1;
    color: $gray-6;
}
//ORANGE
.--section-bg--orange {
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $orange-1 0%, $orange-1 100%);
    }
}
//PURPLE
.--section-bg--purple {
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $purple-1 0%, $purple-1 100%);
    }
}
//YELLOW
.--section-bg--yellow {
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $yellow-1 0%, $yellow-1 100%);
    }
}
//PINK
.--section-bg--pink {
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $pink-1 0%, $pink-1 100%);
    }
}
//CORAL
.--section-bg--coral {
    background: $coral-1;
    color: $coral-2;
    h1, h2, h3, h4, h5, h6 {
        color: $coral-2;
        strong, b {
            /*=HIGHLIGHT
            ----------------------------------------------------------------------*/
            background-image: linear-gradient(0deg, $gray-6 0%, $gray-6 100%);
        }
        em, i {
            /*=HIGHLIGHT
            ----------------------------------------------------------------------*/
            background-image: linear-gradient(0deg, $gray-6 0%, $gray-6 100%);
        }
    }
}
//BLUE
.--section-bg--blue {
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $blue-1 0%, $blue-1 100%);
    }
}
//GREEN
.--section-bg--green {
    background: $green-1;
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $green-3 0%, $green-3 100%);
    }
    em, i {
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $green-3 0%, $green-3 100%);
    }
}
//RED
.--section-bg--red {
    background: $red-1;
    color: $red-2;
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $red-3 0%, $red-3 100%);
    }
    em, i {
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $red-3 0%, $red-3 100%);
    }
}
.cis__section--dark {
    background: $gray-0;
    .cis__special-text {
        color: $white;
        h1, h2, h3, h4, h5, h6 {
            color: $white;
        }
        h4 {
            color: $gray-0;
        }
    }
}
.coral {
    color: $coral-1;
}
.blue-0 {
    color: $blue-0;
}
.blue-1 {
    color: $blue-1;
}
.blue-2 {
    color: $blue-2;
}
/*=TEXT COLOR
----------------------------------------------------------------------*/

.text--blue {
    color: $blue-0;
}
.text--red {
    color: $red-1;
}
.text--pink {
    color: $pink-1;
}
.text--yellow {
    color: $yellow-1;
}
.text--orange {
    color: $orange-1;
}
.text--green {
    color: $green-1;
}
.text--coral {
    color: $coral-1;
}
.text--purple {
    color: $purple-1;
}
/*=HIGHTLIGHTS AND UNDERLINES
----------------------------------------------------------------------*/

//ORANGE
.--color-highlight--orange {
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $orange-1 0%, $orange-1 100%);
    }
    h4 {
        &:before {
            color: $orange-1;
        }
    }
}
.--color-underline--orange {
    em, i {
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $orange-1 0%, $orange-1 100%);
    }
    h4 {
        &:before {
            color: $orange-1;
        }
    }
}
//PURPLE
.--color-highlight--purple {
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $purple-1 0%, $purple-1 100%);
    }
}
.--color-underline--purple {
    em, i {
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $purple-1 0%, $purple-1 100%);
    }
}
//YELLOW
.--color-highlight--yellow {
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $yellow-1 0%, $yellow-1 100%);
    }
}
.--color-underline--yellow {
    em, i {
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $yellow-1 0%, $yellow-1 100%);
    }
}
//PINK
.--color-highlight--pink {
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $pink-1 0%, $pink-1 100%);
    }
}
.--color-underline--pink {
    em, i {
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $pink-1 0%, $pink-1 100%);
    }
}
//CORAL
.--color-highlight--coral {
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $coral-1 0%, $coral-1 100%);
    }
}
.--color-underline--coral {
    em, i {
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $coral-1 0%, $coral-1 100%);
    }
}
//BLUE
.--color-highlight--blue {
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $blue-1 0%, $blue-1 100%);
    }
}
.--color-underline--blue {
    em, i {
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $blue-1 0%, $blue-1 100%);
    }
}
//GREEN
.--color-highlight--green {
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $green-1 0%, $green-1 100%);
    }
}
.--color-underline--green {
    em, i {
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $green-1 0%, $green-1 100%);
    }
}
//RED
.--color-highlight--red {
    strong, b {
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $red-1 0%, $red-1 100%);
    }
}
.--color-underline--red {
    em, i {
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $red-1 0%, $red-1 100%);
    }
}
/*=SVG FILLS
----------------------------------------------------------------------*/

.cis-logo__st0 {
    fill: $gray-0;
}
.cis-logo__st1 {
    fill: $gray-4;
}
.cis-logo__st2 {
    fill: $blue-0;
    stroke: $blue-0;
    stroke-width: .25;
}
.cis__svg__pink {
    fill: $pink-1;
}
.cis__svg__coral {
    fill: $coral-1;
}
.svg-no-fill {
    fill: none; //transition: fill .45s cubic-bezier(.4, 0, 0, 1);
}
.svg-fill-color {
    fill: red; //transition: fill .45s cubic-bezier(.4, 0, 0, 1);
}
.fill--blue {
    fill: $blue-0;
}
.fill--red {
    fill: $red-1;
}
.fill--pink {
    fill: $pink-1;
}
.fill--yellow {
    fill: $yellow-1;
}
.fill--orange {
    fill: $orange-1;
}
.fill--green {
    fill: $green-1;
}
.fill--coral {
    fill: $coral-1;
}
.fill--purple {
    fill: $purple-1;
}