/*=CONTACT
----------------------------------------------------------------------*/

.cis__contact {
    position: relative;
    width: 100%; //min-height: 100vh;
    h1 {
        //display: inline;
        display: block;
    }
}
/*=FORM STYLES
----------------------------------------------------------------------*/

.cis__form {
    ::placeholder {
        color: $gray-4;
        color: $white;
        opacity: 0;
    }
    :-ms-input-placeholder {
        color: $gray-4;
        color: $white;
    }
    ::-ms-input-placeholder {
        color: $gray-4;
        color: $white;
    }
    position: relative;
    h1 {
        display: inline-block;
        margin-right: 16px;
    }
    .cis__form__item {
        position: relative;
        display: inline-block;
        margin-left: 8px;
        /*=INPUT
        ----------------------------------------------------------------------*/
        /*
        input, textarea, select {
        }
        //*/
    }
    .input-sizer {
        display: inline-grid;
        vertical-align: top;
        align-items: center;
        position: relative;
        transform: translateY(-16px);
        height: calc(64px + (100 - 64) * ((100vw - 320px) / (1920 - 320)));
        @extend .founders--bold;
        font-weight: 500;
        font-style: normal;
        font-size: calc(48px + (96 - 48) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(40px + (88 - 40) * ((100vw - 320px) / (1920 - 320)));
        color: $gray-1;
        background-color: $white;
        border: 1px solid $gray-5;
        border-radius: 0;
        box-shadow: none;
        border-bottom: 8px solid $gray-3;
        padding: 0;
        margin-bottom: 24px;
        &.stacked {
            padding: .5em;
            align-items: stretch;
            &::after, input, textarea {
                grid-area: 2 / 1;
            }
        }
        &::after, input, textarea {
            width: auto;
            min-width: 1em;
            grid-area: 1 / 2; //grid-area: 1;
            font: inherit; //padding-top: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
            padding-left: 24px;
            margin: 0;
            resize: none;
            background: none;
            appearance: none;
            border: none;
        }
        .animated-label {
            padding: 16px 24px 16px 24px;
            position: absolute;
            top: 0;
            left: 0;
            color: $gray-4;
            transition: color .5s var(--ease-quint-out), transform .5s var(--ease-quint-out);
            @extend .no-select;
            pointer-events: none;
        }
        &::after {
            content: attr(data-value) ' ';
            visibility: hidden;
            white-space: pre-wrap;
        }
    }
    .form-control {
        &:valid {
            ~.animated-label {
                color: $gray-1;
                transform: translateY(-56px);
                font-size: 19px;
                padding: 0;
                transition: color .75s var(--ease-quint-out), transform .75s var(--ease-quint-out), padding .75s var(--ease-quint-out), font-size .75s var(--ease-quint-out);
            }
        }
        &:invalid {
            //border: 1px solid red;
        }
        &:focus {
            ~.animated-label {
                color: $gray-1;
                transform: translateY(-56px);
                font-size: 19px;
                padding: 0;
                transition: color .75s var(--ease-quint-out), transform .75s var(--ease-quint-out), padding .75s var(--ease-quint-out), font-size .75s var(--ease-quint-out);
            }
        }
    }
}

.card {
  --background: #fff;
  --background-checkbox: #0082ff;
  --background-image: #fff, #{rgba(#006baf, 0.2)};
  --text-color: #666;
  --text-headline: #000;
  --card-shadow: #0082ff;
  --card-height: 190px;
  --card-width: 190px;
  --card-radius: 12px;
  --header-height: 47px;
  --blend-mode: overlay;
  --transition: 0.15s;
  user-select: none;

  &:nth-child(odd) {
    .card__body-cover-image {
      --x-y1: 100% 90%;
      --x-y2: 67% 83%;
      --x-y3: 33% 90%;
      --x-y4: 0% 85%;
    }
  }

  &:nth-child(even) {
    .card__body-cover-image {
      --x-y1: 100% 85%;
      --x-y2: 73% 93%;
      --x-y3: 25% 85%;
      --x-y4: 0% 90%;
    }
  }

  &__input {
    position: absolute;
    display: block;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;

    &:checked {
      & ~ .card__body {
        --shadow: 0 0 0 3px var(--card-shadow);
        .card__body {
          &-cover-checkbox {
            --check-bg: var(--background-checkbox);
            --check-border: #fff;
            --check-scale: 1;
            --check-opacity: 1;
            &--svg {
              --stroke-color: #fff;
              --stroke-dashoffset: 0;
            }
          }
          &-cover {
            &:after {
              --opacity-bg: 0;
            }
            &-image {
              --filter-bg: grayscale(0);
            }
          }
        }
      }
    }

    &:disabled {
      & ~ .card__body {
        cursor: not-allowed;
        opacity: 0.5;
        &:active {
          --scale: 1;
        }
      }
    }
  }

  &__body {
    display: grid;
    grid-auto-rows: calc(var(--card-height) - var(--header-height)) auto;
    background: var(--background);
    height: var(--card-height);
    width: var(--card-width);
    border-radius: var(--card-radius);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: var(--shadow, 0 4px 4px 0 rgba(0, 0, 0, 0.02));
    transition: transform var(--transition), box-shadow var(--transition);
    transform: scale(var(--scale, 1)) translateZ(0);
    &:active {
      --scale: 0.96;
    }

    &-cover {
      --c-border: var(--card-radius) var(--card-radius) 0 0;
      --c-width: 100%;
      --c-height: 100%;
      position: relative;
      overflow: hidden;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: var(--c-width);
        height: var(--c-height);
        border-radius: var(--c-border);
        background: linear-gradient(to bottom right, var(--background-image));
        mix-blend-mode: var(--blend-mode);
        opacity: var(--opacity-bg, 1);
        transition: opacity var(--transition) linear;
      }
      &-image {
        width: var(--c-width);
        height: var(--c-height);
        object-fit: cover;
        border-radius: var(--c-border);
        filter: var(--filter-bg, grayscale(1));
        // transition: filter var(--transition) linear; // not working properly in Chrome
        clip-path: polygon(
          0% 0%,
          100% 0%,
          var(--x-y1, 100% 90%),
          var(--x-y2, 67% 83%),
          var(--x-y3, 33% 90%),
          var(--x-y4, 0% 85%)
        );
      }
      &-checkbox {
        background: var(--check-bg, var(--background-checkbox));
        border: 2px solid var(--check-border, #fff);
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 1;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        opacity: var(--check-opacity, 0);
        transition: transform var(--transition),
          opacity calc(var(--transition) * 1.2) linear,
          -webkit-transform var(--transition) ease;
        transform: scale(var(--check-scale, 0));
        &--svg {
          width: 13px;
          height: 11px;
          display: inline-block;
          vertical-align: top;
          fill: none;
          margin: 7px 0 0 5px;
          stroke: var(--stroke-color, #fff);
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 16px;
          stroke-dashoffset: var(--stroke-dashoffset, 16px);
          transition: stroke-dashoffset 0.4s ease var(--transition);
        }
      }
    }

    &-header {
      height: var(--header-height);
      background: var(--background);
      padding: 0 10px 10px 10px;
      &-title {
        color: var(--text-headline);
        font-weight: 700;
        margin-bottom: 8px;
      }
      &-subtitle {
        color: var(--text-color);
        font-weight: 500;
        font-size: 13px;
      }
    }
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;

  &:after {
    box-sizing: inherit;
  }
}

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    @include media(small) {
        display: none;
    }
  }

/*=REVER TEST
----------------------------------------------------------------------*/

/*

.contact {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.rever__hero--contact {
    background: #fff;
    height: auto;
    margin-bottom: 32px;
    text-align: left;
    .rever__hero__content {
        text-align: left;
    }
    padding: 56px 0;
}


.rever__contact__form {
    position: relative;
    margin-bottom: 96px;
    @include media(small) {
        margin-bottom: 32px;
    }
    @include media(large) {
        margin-bottom: 128px;
    }
    h3 {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        @extend .moderat;
        color: $dark-1;
        font-size: 32px;
        line-height: 56px; //margin-bottom: 24px;
        &:last-of-type {
            margin-bottom: 0;
        } //margin-right: 16px;
        margin-bottom: 18px;
        @include media(small) {
            font-size: 26px;
            line-height: 42px;
            margin-bottom: 18px;
        }
        @include media(large) {
            font-size: 40px;
            line-height: 72px; //margin-bottom: 32px;
            margin-bottom: 12px;
        }
    }
    p {
        position: relative;
        display: inline-block;
        margin: 0;
        padding: 0;
        font-size: 15px;
        color: $dark-1;
    }
}
input, select, textarea, {
    position: relative;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $dark-4;
    color: $dark-1; //text-align: center;
    padding-left: 0;
    padding-right: 0; //margin-top: -16px;
    padding-bottom: 16px; //font-size: 32px;
    line-height: 56px; //margin-bottom: 24px;
    @include media(small) {
        font-size: 26px;
        line-height: 36px; //max-width: auto;
        //width: auto;
        //margin-top: 16px;
        //margin-bottom: 16px;
    }
    @include media(large) {
        //font-size: 40px;
        //line-height: 72px;
        //margin-bottom: 32px;
        //max-width: 320px;
    }
    line-height: 40px;
    font-size: 32px;
    text-align: center;
}
label {
    @include media(small) {
        line-height: 1.6;
    }
}
.form-group {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    outline: none;
    .animated-label {
        position: absolute;
        top: -20px;
        width: 100%;
        height: 100%;
        text-align: center;
        color: $dark-4;
        pointer-events: none;
        transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
        font-size: 32px;
        line-height: 40px;
        @include media(small) {
            font-size: 24px;
            line-height: 14px;
            top: 7px;
        }
    }
    .animated-border {
        position: absolute;
        pointer-events: none;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 3px;
        background: $blue-3;
        transition: width 600ms cubic-bezier(0.77, 0, 0.175, 1);
        @include media(small) {
            bottom: 16px;
        }
    }
}
.form-control {
    position: relative;
    padding: 20px 0 30px 0;
    margin-top: -16px;
    &:focus {
        ~.animated-label {
            top: -45px;
            font-size: 12px;
            transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
            @include media(small) {
                top: -18px;
            }
        }
        ~.animated-border {
            width: 100%;
            transition: width 600ms cubic-bezier(0.77, 0, 0.175, 1);
            @include media(small) {
                bottom: 16px;
            }
        }
        box-shadow: none;
    }
    &:valid {
        ~.animated-label {
            top: -45px;
            font-size: 12px;
            transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);
            @include media(small) {
                top: -18px;
            }
        }
    }
    &:invalid {
        border: 1px solid red;
    }
    @include media(small) {
        max-width: 180px;
        margin-top: -10px;
        padding: 20px 0 30px 0;
        margin-bottom: 18px;
    }
}
.form-control--small {
    @include media(small) {
        max-width: 150px;
    }
}
.form-control--large {
    @include media(small) {
        max-width: 220px;
    }
}
.form-control--full {
    @include media(small) {
        max-width: 100%;
    }
}
.hs-richtext {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 13px;
    color: $dark-2;
}
.hs-dependent-field, .input {
    ul {
        list-style: none;
        margin: 0;
        li {
            vertical-align: top;
            margin: 0;
            line-height: 1;
        }
        span {
            vertical-align: top;
            margin: 0;
            line-height: 1;
            display: inline-block;
            margin-left: 8px;
            color: $orange;
        }
        input {
            vertical-align: top;
            margin: 0;
            line-height: 1;
            display: inline-block;
        }
    }
}
button, .hs_submit {
    margin-top: 24px;
    @extend .rever-button;
    text-decoration: none;
    width: 220px;
    height: 80px;
    input {
        -webkit-appearance: none;
        border-radius: 0;
        position: absolute;
        z-index: 20;
        color: #fff;
        font-size: 17px;
        padding: 0; //padding-top: 24px;
        border-bottom: none;
        @extend .moderat--regular;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 140%;
        top: 0;
        left: 0;
    }
    cursor: pointer;
}
::placeholder {
    color: $dark-4;
    font-size: 32px;
    text-align: center;
}
:-ms-input-placeholder {
    color: $dark-4;
    font-size: 32px;
}
::-ms-input-placeholder {
    color: $dark-4;
    font-size: 32px;
    text-align: center;
}
input[type="checkbox"] {
    line-height: 1.6;
}
}
.rever__contact__info {
    position: relative;
    width: 100%;
}
.rever__contact__info__block {
    position: relative;
    background: $dark-6;
    padding-top: 72px;
    padding-bottom: 72px;
    h1, h2, h3, h4, h5 {
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: 32px;
        @extend .moderat--regular;
        color: $dark-1;
        margin-bottom: 32px;
        line-height: 38px;
    }
    h3 {
        font-size: 24px;
        @extend .moderat;
        color: $dark-2;
        margin-bottom: 32px;
        line-height: 32px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 30;
    }
}
.rever__contact__info__block--map {
    position: relative;
    min-height: 350px;
}
.rever__contact__info__block--dummy {
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: -100vw;
    background: $dark-6;
    z-index: 1;
}
.map-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.hidden {
    display: none;
}
.fieldWithError {
    background-color: #ffebeb!important;
    border-bottom: 1px solid #ad0606!important;
    padding: 10px;
}
.gdpr-text {
    font-size: 13px;
    width: 60%;
    margin-bottom: 24px;
    @include media(small) {
        width: 100%;
    }
}
#alert {
    background-color: #ffebeb;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 3px;
    font-size: 16px;
    color: #ad0606;
    border: 1px solid #ad0606;
    margin-bottom: 15px;
}
#alert {
    opacity: 0;
    visibility: hidden;
}
//*/

/*=MEDIA QUERIES
----------------------------------------------------------------------*/

@include media(small) {}
@include media(large) {}