/*=CTA AND BUTTONS
----------------------------------------------------------------------*/

.main-cta, a.main-cta, button.main-cta {
    //@extend .reset-button;
    position: relative;
    display: inline-block;
    background: $pink-1; //border: 2px solid $pink-1;
    text-transform: uppercase;
    padding: 24px 40px;
    border-radius: 50px;
    @extend .founders--bold;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-bottom: 16px; //transition: all 750ms cubic-bezier(0.77, 0, 0.175, 1);
    overflow: hidden;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    &:hover {
        //background: $gray-0;
        //border: 2px solid $gray-0;
        &:before {
            transition: transform 450ms cubic-bezier(0.77, 0, 0.175, 1); //transform: translateY(0%);
            transform: translateY(-1px);
        }
        &:after {
            transform: translateY(0px);
            transition: transform 450ms cubic-bezier(0.77, 0, 0.175, 1);
        }
        span {
            transition: all 450ms cubic-bezier(0.77, 0, 0.175, 1);
            transform: translateY(-60px);
            opacity: 0;
        }
    }
    @include media(small) {
        width: 100%;
        text-align: center;
    }
    span {
        position: relative;
        display: inline-block;
        transition: all .45s cubic-bezier(.4, 0, 0, 1);
        transform: translateY(0px);
        opacity: 1;
    }
    &:after {
        content: attr(data-text);
        position: absolute;
        width: 100%; //height: 100%;
        text-align: center;
        top: 50%;
        left: 0;
        margin-top: -8px;
        z-index: 5;
        transform: translateY(60px);
        transition: all .45s cubic-bezier(.4, 0, 0, 1);
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 110%;
        top: 0;
        left: 0;
        color: $gray-6;
        background: $gray-0;
        z-index: 1;
        transform: translateY(100%);
        transition: all .45s cubic-bezier(.4, 0, 0, 1);
    }
    &:last-of-type {
        margin-right: 0;
    }
}
.main-cta--outline, a.main-cta--outline, button.main-cta--outline {
    background: transparent;
    color: $gray-1;
    border: 2px solid $gray-5;
    padding: 22px 40px;
    margin-right: 10px;
    transition: background 150ms cubic-bezier(0.77, 0, 0.175, 1);
    &:hover {
        background: $gray-0;
        color: white;
        border: 2px solid $gray-0;
        transition: border 450ms cubic-bezier(0.77, 0, 0.175, 1), color 450ms cubic-bezier(0.77, 0, 0.175, 1), background 450ms cubic-bezier(0.77, 0, 0.175, 1);
    }
}
.main-cta--dark, a.main-cta--dark, button.main-cta--dark {
    background: $gray-0; //border: 2px solid $gray-0;
    //transition: all 600ms cubic-bezier(1, 0, 0, 1);
    transition: background 150ms cubic-bezier(0.77, 0, 0.175, 1);
    &:hover {
        color: $gray-3; //background: $gray-6;
        //border: 2px solid $gray-6;
        background: $gray-6;
        transition: color 450ms cubic-bezier(0.77, 0, 0.175, 1), background 450ms cubic-bezier(0.77, 0, 0.175, 1);
    }
    &:before {
        background: $gray-6;
    }
}
.main-cta--gray, a.main-cta--gray, button.main-cta--gray {
    background: $gray-6;
    color: $gray-3; //border: 2px solid $gray-6;
    transition: background 150ms cubic-bezier(0.77, 0, 0.175, 1);
    &:hover {
        color: $gray-6;
        background: $gray-0; //border: 2px solid $gray-0;
        transition: color 450ms cubic-bezier(0.77, 0, 0.175, 1), background 450ms cubic-bezier(0.77, 0, 0.175, 1);
    }
}
.main-cta--gray-on-dark, a.main-cta--gray-on-dark, button.main-cta--gray-on-dark {
    background: $gray-6;
    color: $gray-3; //border: 2px solid $gray-6;
    transition: background 150ms cubic-bezier(0.77, 0, 0.175, 1);
    &:hover {
        color: $gray-6;
        background: $gray-0; //border: 2px solid $gray-0;
        transition: color 450ms cubic-bezier(0.77, 0, 0.175, 1), background 450ms cubic-bezier(0.77, 0, 0.175, 1);
    }
    &:before {
        background: $pink-1;
    }
}
.main-cta--short {
    padding: 16px 0 !important;
    text-align: center;
}
.main-cta--short-width {
    padding: 16px 40px !important;
    margin-right: 8px !important;
    &:last-of-type {
        margin-right: 0 !important;
    }
}
.main-cta--full-width {
    width: 100%;
}