/*=DYNAMIC IMAGE
----------------------------------------------------------------------*/

.dynamic-image {
    position: absolute;
    top: 0;
    z-index: 1;
}
.dynamic-image--full-bleed {
    width: 100%;
    height: 100%;
}
.dynamic-image--index-top {
    z-index: 100;
}
/*=POSITIONING
----------------------------------------------------------------------*/

.dynamic-image--top {
    top: 0;
}
.dynamic-image--middle {
    top: 50%;
    bottom: auto;
    @extend .vertical-align;
}
.dynamic-image--bottom {
    bottom: 0;
}