/*=FOOTER
----------------------------------------------------------------------*/

.cis__footer {
    position: relative;
    width: 100%;
    background: $gray-0;
    z-index: 10;
    h4 {
        color: $gray-2;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0;
        margin-bottom: 16px;
        text-transform: uppercase;
    }
    a {
        text-decoration: none;
        color: $white;
    }
    .active-language {
        a {
            color: $blue-1;
        }
    }
}
.cis__footer__container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 200px;
    @include media(small) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
.cis__footer__container {
    position: relative;
}
.cis__footer__level-1 {
    position: relative;
    margin-bottom: 80px;
}
.cis__footer__logo, .cis__footer__logo a {
    position: relative;
    @extend .founders--medium;
    display: inline-block;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0;
    color: $white;
    span {
        color: $pink-1;
    }
    svg {
        width: 120px;
    }
}
.cis__footer__logo a {
    &:hover {}
}
.cis__footer__level-2 {
    position: relative;
    margin-bottom: 64px;
}
.cis__footer__nav {
    position: relative;
}
.cis__footer__list {
    position: relative;
    list-style: none;
    .active-nav-item {
        padding-left: 24px;
        color: $gray-0;
        transition: padding 0.75s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        &:after {
            background: $blue-1;
            transform: scaleX(1.025); //transform-origin: bottom right;
            transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        color: $gray-0;
    }
}
.cis__footer__list__item, .cis__footer__list__item a {
    color: $white;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: 0;
    @extend .founders--medium;
    margin-bottom: 8px;
    text-decoration: none;
    a {
        @extend .hover-underline-animation;
    }
}
.cis__footer__level-3 {
    position: relative;
    margin-bottom: 64px;
}
.cis__footer__legal-credits {
    position: relative;
    font-size: 17px;
    line-height: 23px;
    color: $gray-2;
}
.cis__footer__level-4 {
    position: relative;
}
.cis__footer__small {
    position: relative;
    font-size: 15px;
    line-height: 17px;
    color: $white;
    letter-spacing: 0;
}
.cis__footer__text {
    position: relative;
    @extend .founders--regular;
    font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(32px + (40 - 32) * ((100vw - 320px) / (1920 - 320)));
    letter-spacing: -0.32px;
    color: $gray-4;
    margin-bottom: 16px;
    a {
        color: $gray-1;
    }
    strong, b {
        font-weight: 500;
        color: $gray-4;
    }
    em, i {
        font-weight: 500;
        font-style: italic;
        color: $gray-4;
    }
}
.cis__footer__white-text {
    color: $gray-4;
}