/*=FULL VIEWPORT NAV
----------------------------------------------------------------------*/

.cis__nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 105;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    h4 {
        color: $gray-2;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0;
        margin-bottom: 16px;
        text-transform: uppercase;
    }
    p {
        color: $gray-4;
        margin-bottom: 16px;
    }
    a {
        position: relative;
        display: inline-block;
        text-decoration: none;
    }
    span.pink {
        color: $pink-1;
    }
    span.coral {
        color: $coral-1;
    }
    span.blue-0 {
        color: $blue-0;
    }
    strong {
        color: $gray-6;
        @extend .founders--medium;
        font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(32px + (40 - 32) * ((100vw - 320px) / (1920 - 320)));
        letter-spacing: -.32px;
    }
    @include media(small) {
        overflow: hidden;
    }
}
.cis__nav-header__container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 30;
    @include media(small) {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-top: 160px;
        padding-bottom: 160px;
    }
}
.cis__nav-header__right-side__email {
    position: relative;
    @include media(small) {
        padding: 40px 0;
    }
}
.cis__nav-header__container__wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    padding-bottom: 0;
    @include media(small) {
        height: auto;
    }
}
.cis__nav-header__nav {
    position: relative;
    display: block;
    h4 {
        margin-bottom: 24px;
    }
}
.cis__nav-header__nav__list {
    position: relative;
    display: block;
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.cis__nav-header__nav__list__item {
    position: relative;
    display: block;
    margin-bottom: 4px;
    a {
        color: $gray-5;
        font-size: 23px;
        line-height: 23px;
        letter-spacing: 0;
        @extend .founders--medium;
        margin-bottom: 8px;
        @extend .hover-underline-animation;
    }
}
.cis__nav-header__nav__list__item--no-animation {
    position: relative;
    display: block;
    margin-bottom: 4px;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    a {
        position: relative;
        display: block;
        margin-bottom: 8px;
        &:hover {
            .social-svg__circle {
                fill: $blue-1;
                transition: fill 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
            }
        }
    }
}
.social-svg__circle {
    fill: $gray-5;
    transition: fill 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.button__svg__icon {
    position: relative;
    fill: $gray-0;
    top: 0;
    left: 0;
}
.cis__nav-header__right-side {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    padding-bottom: 0;
    @include media(small) {}
    @include media(large) {
        padding-bottom: 10px;
    }
}
.cis__nav-header__nav__big-anchor {
    position: relative;
    display: inline-block;
    color: $gray-6;
    @extend .founders--medium;
    font-size: calc(24px + (48 - 32) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(32px + (64 - 40) * ((100vw - 320px) / (1920 - 320)));
    letter-spacing: -.32px;
    .underline-anchor {
        @extend .hover-underline-animation;
    }
}
.cis__nav-header__nav__menu-list {
    position: relative;
    display: block;
    list-style: none;
    .active-nav-item {
        padding-left: 24px;
        color: $gray-0;
        transition: padding 0.75s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        &:after {
            background: $blue-1;
            transform: scaleX(1.025); //transform-origin: bottom right;
            transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        color: $gray-0;
    }
}
.cis__nav-header__nav__menu-list__item {
    position: relative;
    margin-bottom: 24px;
    a {
        @extend .founders--medium;
        position: relative;
        display: inline-block;
        color: $gray-6;
        font-size: calc(32px + (72 - 32) * ((100vw - 320px) / (1920 - 320)));
        line-height: .9;
        letter-spacing: -.32px;
        @extend .hover-underline-animation;
        &:hover {
            color: $gray-0;
        }
    }
}
.cis__nav-header__list {
    position: relative;
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
}
.cis__nav-header__list__item {
    position: relative;
    font-size: 17px;
    line-height: 23px;
    color: $gray-2;
    margin-right: 24px;
    &:last-of-type {
        margin-right: 0;
    }
    a {
        color: $gray-2;
    }
}
/*=VERTICAL FLEX LIST
----------------------------------------------------------------------*/

.cis__nav-header__list--column {
    position: relative;
    display: flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
}
.cis__nav-header__list__item--column {
    position: relative;
    font-size: 17px;
    line-height: 23px;
    color: $gray-2;
    margin-bottom: 24px;
    a {
        color: $gray-2;
    }
}
/*=LANGUAGE
----------------------------------------------------------------------*/

.cis__nav-header__list__item--language {
    position: relative;
    margin-right: 16px;
}
.active-language {
    color: $blue-1;
    a {
        color: $blue-1;
    }
}
.cis__nav-header__legal-credits {
    position: relative;
    font-size: 17px;
    line-height: 23px;
    color: $gray-2;
    a {
        color: $gray-2;
    }
}
.cis__nav-header__small {
    position: relative;
    font-size: 15px;
    line-height: 17px;
    color: $white;
    letter-spacing: 0;
}
.cis__nav-header__column-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-content: flex-start;
    z-index: 9;
    opacity: .99;
}
.cis__nav-header__column-container--white {
    z-index: 10;
    .cis__nav-header__column {
        background: $gray-6;
    }
}
.cis__nav-header__column-container--pink {
    z-index: 5;
    .cis__nav-header__column {
        background: $pink-1;
    }
}
.cis__nav-header__column-container--coral {
    z-index: 5;
    .cis__nav-header__column {
        background: $coral-1;
    }
}
.cis__nav-header__column-container--blue {
    z-index: 5;
    .cis__nav-header__column {
        background: $blue-1;
    }
}
.cis__nav-header__column {
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: $gray-0;
    transform: translateY(100%);
}