/*=IMAGES FX
----------------------------------------------------------------------*/

.--picture-container-row {
    position: absolute;
    width: calc(100% + 24px);
    left: 0;
    top: 0;
}
.--translateY--120 {
    transform: translateY(-120px);
}
.--translateY--160 {
    transform: translateY(-160px);
}
.--translateY--200 {
    transform: translateY(-200px);
}
.--translateY--360 {
    transform: translateY(-360px);
}
.--translateY-120 {
    transform: translateY(120px);
}
.--figure {
    position: relative;
    width: 100%;
    overflow: hidden;
    picture, img, video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
    .--figure__container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        overflow: hidden; //transform: translateY(-100%);
    }
    figcaption {
        position: relative;
        width: 100%;
        height: auto;
        z-index: 20;
        margin-top: 28px; //@extend .micro;
        color: $gray-2;
        strong, b, em, i {
            color: $gray-1;
        }
    }
}
.--figure-align-left {
    overflow: visible;
    .--figure__container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    figcaption {
        position: relative;
        z-index: 50;
        bottom: 28px;
        transform: rotate(-90deg);
        transform-origin: top left;
        .content {
            transform: translateY(calc(-100% - 16px));
            position: relative;
            /*
            writing-mode: vertical-rl;
            text-orientation: sideways;
            transform: rotate(180deg);
            text-orientation: sideways;
            margin: 1rem;
            */
        }
    }
}
.--figure-align-right {
    overflow: visible;
    .--figure__container {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    figcaption {
        position: relative;
        z-index: 50;
        bottom: 28px;
        transform: rotate(-90deg) translateX(100%) translateY(16px);
        transform-origin: top right;
        .content {
            position: relative;
        }
    }
}
/*=SPECIAL TRANSFORMS
----------------------------------------------------------------------*/

.--special-transform {
    opacity: 0;
    transform: scale(1.8);
    transform-origin: center center;
}
.--fade-in-and-transform {
    opacity: 1;
    transform: scale(1);
    transition: transform 2.25s var(--ease-quint-out), opacity .75s var(--ease-cubic-in);
}
.--order-1_2 {
    @include media(small) {
        order: 2;
    }
}
.--order-2_1 {
    @include media(small) {
        order: 1;
    }
}
/*=DIVIDER
----------------------------------------------------------------------*/

.--divider {
    position: relative;
    //display: block;
    //width: 100%;
    height: 1px;
    //margin-top: 32px;
    //margin-bottom: 40px;
    background: $gray-4;
}
/*=TEXT AND OBSERVER ANIMATIONS
----------------------------------------------------------------------*/

.split-parent {
    overflow: hidden; //border: 1px solid red;
    display: block; //background: red;
    //display: inline-block !important;
    em, strong, b, i {
        //display: inline-block !important;
    }
}
.split-child {
    //display: inline;
    display: inline-block;
    div {
        //display: inline-block !important;
    }
}
.fade--set {
    opacity: 0;
}
.fade-in-and-slide--set {
    position: relative;
    transform: translateY(120px);
    opacity: 0;
}
.reveal-block--set {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
}
.js-nav-animation--set {
    position: relative;
    opacity: 0;
}
.js-intro-animation {
    position: relative;
    opacity: 0;
}
.js-intro-animation-with-delay {
    position: relative;
    opacity: 0;
}
/*=UNDERLINE AND LINKS ANIMATIONS
----------------------------------------------------------------------*/

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: inherit;
    transition: padding 1s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1.25s cubic-bezier(0.215, 0.61, 0.355, 1), color .5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-delay: 0s, 0s, .1s;
    z-index: 20;
    padding-right: 16px;
    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        transform: scaleX(0);
        height: 130%;
        bottom: 0;
        left: 0;
        background-color: $gray-5; //background-color: $white;
        transform-origin: bottom left;
        transition: padding 1s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1.25s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-delay: 0s, 0s;
    }
    &:hover {
        padding-left: 24px;
        color: #EB0066;
        color: $gray-0;
        transition: padding 0.75s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
        &:after {
            transform: scaleX(1.025); //transform-origin: bottom right;
            transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    }
}
.centered-content {
    position: relative;
    text-align: center;
}