/*=INSIGHTS BLOCK
----------------------------------------------------------------------*/

.cis__section__insights {
    position: relative;
    width: 100%;
    //background: $gray-5;
    /*
    &:before{
        background: $gray-5;
    }
    //*/
}