/*=MARQUEE
----------------------------------------------------------------------*/

.marquee-block {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 30;
    overflow: visible;
    display: flex;
    align-items: center;
    pointer-events: none;
    @extend .no-select;
}
.marquee-block__container {
    position: relative;
    --space: 2vw; //font-size: 15vw;
    white-space: nowrap;
    animation: marquee_block_left 40s infinite linear;
    padding-left: var(--space);
    padding-top: 24px;
    //&:after {
    span {
        //content: attr(data-text);
        padding-left: var(--space);
    }
}
@keyframes marquee_block_left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
@keyframes marquee_block_right {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}
.marquee-block__container--right {
    animation: marquee_block_right 40s infinite linear;
}