/*=MAIN HEADER
----------------------------------------------------------------------*/

.cis__header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 110;
    transition: transform .65s var(--ease-quint-out);
    @extend .no-select;
}
.cis__header--main {
    //mix-blend-mode: exclusion;
}
.cis__header--relative {
    position: relative; //background: $body-background-color;
}
.cis__header--relative__nav {
    position: relative;
    padding-top: 32px;
    @include media(small) {
        padding-top: 24px;
    }
    @include media(large) {
        padding-top: 48px;
    }
}
.cis__header__dummy {
    position: relative;
    width: 100%;
    height: 50px;
}
.cis__header--hidden {
    transform: translateY(-140px);
    transition: transform .65s var(--ease-quint-in);
}
/*=MAIN NAV
----------------------------------------------------------------------*/

.cis__header__nav {
    position: relative;
    padding-top: 32px;
    @include media(small) {
        padding-top: 24px;
    }
    @include media(large) {
        padding-top: 48px;
    }
}
.cis__header__nav__list {
    position: relative;
    list-style: none;
    padding: 16px 0 8px 0;
    @include media(medium) {
        display: none;
    }
    transition: transform .8s var(--ease-quint-in-out), opacity 1s var(--ease-quint-in-out), visibility 1s var(--ease-quint-in-out);
}
.cis__header__nav__list--right-align {
    text-align: right;
}
.cis__header__nav__list__item {
    position: relative;
    display: inline-block;
    margin-right: 16px;
    &:last-of-type {
        margin-right: 0;
    }
    a {
        color: $gray-3;
        font-size: 19px;
        line-height: 19px;
        @extend .founders--medium;
        @extend .sliding-u-l-r-l;
        text-decoration: none;
        transition: color .35s var(--ease-quint-in);
        &:hover {
            color: $gray-0;
            transition: color .65s var(--ease-quint-out);
            &:before {
                background: $gray-0;
                height: 2px;
                bottom: 3px;
            }
        }
        &:after {
            background: $gray-0;
            height: 2px;
            bottom: 3px;
        }
    }
    a.active-nav-item {
        color: $gray-0;
        transition: color .65s var(--ease-quint-out);
    }
}
.cis__header__nav__list--hide {
    transform: translateY(-96px);
    opacity: 0;
    visibility: hidden;
    transition: transform .8s var(--ease-quint-in-out), opacity 1s var(--ease-quint-in-out), visibility 1s var(--ease-quint-in-out);
}
/*
.cis__header__nav__type-logo {
    position: relative;
    @extend .founders--medium;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin: 0;
    span {
        color: $coral-1;
    }
    a {
        @extend .founders--medium;
    }
}
*/

.cis__header__nav__type-logo, .cis__header__nav__type-logo a {
    position: relative;
    @extend .founders--medium;
    display: inline-block;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0;
    color: $gray-0;
    text-transform: uppercase;
    margin: 0;
    span {
        color: $blue-0;
    }
    svg {
        width: 120px;
        @include media(medium) {
            width: 96px;
        }
    }
}
.cis__header__nav__menu {
    position: relative;
    @extend .reset-button;
    cursor: pointer;
}
.cis__header__nav__menu__text {
    position: relative;
    color: $gray-0;
    @extend .founders--medium;
    font-size: 17px;
    top: 3px;
    letter-spacing: 0.05em;
    padding-left: 4px;
    top: 2px;
}
/*=FULL VIEWPORT NAV
----------------------------------------------------------------------*/

@import "_full.nav.component";
/*=NAV ICONS
----------------------------------------------------------------------*/

.cis__hamburger__fill {
    fill: $gray-1;
}
.cis__half-eaten-hamburger, .cis__cta__icon {
    position: absolute;
    width: 24px;
    z-index: 50;
    @extend .center-align;
}
.cis__cta__icon--32 {
    width: 32px;
}
.cis__cta__icon--40 {
    width: 40px;
}
/*=CTA ITEMS
----------------------------------------------------------------------*/

.cis__header__nav--right-cta {
    position: relative;
    text-align: right;
    p, span {
        padding-right: 91px;
        @include media(large) {
            padding-right: 101px;
        }
    }
    .cis__attract-cta {
        left: auto;
        right: 0;
    }
}