.project__privacy-banner {
    position: fixed;
    z-index: 120;
    bottom: 40px;
    right: 40px;
    width: 340px;
    h3 {
        font-size: 15px;
        margin-bottom: 8px;
        line-height: 1; //color: $gray-6;
    }
    p {
        font-size: 13px;
        line-height: 18px;
        color: $gray-3; //color: $gray-6;
        strong, b, a {
            color: $gray-1;
        }
        margin-bottom: 16px;
        a {
            //text-decoration: underline;
            //color: $pink-1;
            transition: color 650ms cubic-bezier(0.77, 0, 0.175, 1);
            &:hover {
                color: $pink-1; //color: $gray-3;
                transition: color 250ms cubic-bezier(0.77, 0, 0.175, 1);
            }
        }
    }
    button{
        @extend .reset-button;
        @extend .main-cta;
        //@extend .main-cta--gray;
        @extend .main-cta--short; 
        @extend .main-cta--full-width;
        @extend .founders--medium;
        position: relative;
        //position: absolute;
        //top: 10px;
        //right: 8px;
        cursor: pointer;
    }
    @include media(small) {
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 16px;
    }
}
.project__privacy-banner__container {
    //background: $gray-0;
    background: $gray-6;
    box-shadow: 0 4px 16px 0 rgb(36 30 30 / 16%);
    padding: 24px 24px 8px 24px;
}