/*=SECTIONS AND BLOCKS
----------------------------------------------------------------------*/

.--section {
    position: relative;
    overflow-x: hidden;
}
/*=FUNCTIONAL PADDINGS
----------------------------------------------------------------------*/

.--padding-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}
.--padding-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.--padding-48 {
    padding-top: 48px;
    padding-bottom: 48px;
}
.--padding-64 {
    padding-top: 64px;
    padding-bottom: 64px;
}
.--padding-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.--padding-top-24 {
    padding-top: 24px;
}
.--padding-bottom-24 {
    padding-bottom: 24px;
}
.--padding-top-40 {
    padding-top: 40px;
}
.--padding-bottom-40 {
    padding-bottom: 40px;
}
.--padding-top-80 {
    padding-top: 80px;
}
.--padding-bottom-80 {
    padding-bottom: 80px;
}
.--padding-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}
.--padding-top-120 {
    padding-top: 120px;
}
.--padding-bottom-120 {
    padding-bottom: 120px;
}
.--padding-160 {
    padding-top: 160px;
    padding-bottom: 160px;
}
.--padding-top-160 {
    padding-top: 160px;
}
.--padding-bottom-160 {
    padding-bottom: 160px;
}
.--padding-200 {
    padding-top: 200px;
    padding-bottom: 200px;
}
.--padding-top-200 {
    padding-top: 200px;
}
.--padding-bottom-200 {
    padding-bottom: 200px;
}
.--padding-top-240 {
    padding-top: 240px;
}
.--padding-bottom-240 {
    padding-bottom: 240px;
}
.--padding-top-320 {
    padding-top: 320px;
}
.--padding-bottom-320 {
    padding-bottom: 320px;
}
/*=FUNCTIONAL MARGINS
----------------------------------------------------------------------*/

.--margin-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}
.--margin-bottom-16 {
    margin-bottom: 16px;
}
.--margin-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}
.--margin-bottom-24 {
    margin-bottom: 24px;
}
.--margin-32 {
    margin-top: 32px;
    margin-bottom: 32px;
}
.--margin-bottom-32 {
    margin-bottom: 32px;
}
.--margin-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.--margin-bottom-40 {
    margin-bottom: 40px;
}
.--margin-48 {
    margin-top: 48px;
    margin-bottom: 48px;
}
.--margin-64 {
    margin-top: 64px;
    margin-bottom: 64px;
}
.--margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.--margin-top-24 {
    margin-top: 24px;
}
.--margin-bottom-24 {
    margin-bottom: 24px;
}
.--margin-top-32 {
    margin-top: 32px;
}
.--margin-bottom-32 {
    margin-bottom: 32px;
}
.--margin-top-40 {
    margin-top: 40px;
}
.--margin-bottom-40 {
    margin-bottom: 40px;
}
.--margin-top-80 {
    margin-top: 80px;
}
.--margin-bottom-80 {
    margin-bottom: 80px;
}
.--margin-120 {
    margin-top: 120px;
    margin-bottom: 120px;
}
.--margin-top-120 {
    margin-top: 120px;
}
.--margin-bottom-120 {
    margin-bottom: 120px;
}
.--margin-160 {
    margin-top: 160px;
    margin-bottom: 160px;
}
.--margin-top-160 {
    margin-top: 160px;
}
.--margin-bottom-160 {
    margin-bottom: 160px;
}
.--margin-200 {
    margin-top: 200px;
    margin-bottom: 200px;
}
.--margin-top-200 {
    margin-top: 200px;
}
.--margin-bottom-200 {
    margin-bottom: 200px;
}
.--margin-top-240 {
    margin-top: 240px;
}
.--margin-bottom-240 {
    margin-bottom: 240px;
}
.--margin-top-320 {
    margin-top: 320px;
}
.--margin-bottom-320 {
    margin-bottom: 320px;
}
.--align-items-end {
    position: relative;
    display: flex;
    align-items: flex-end;
}
/*=RESPONSIVE
----------------------------------------------------------------------*/

@include media(small) {
    .--padding-40 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .--padding-48 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .--padding-64 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .--padding-80 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .--padding-top-24 {
        padding-top: 0;
    }
    .--padding-bottom-24 {
        padding-bottom: 0;
    }
    .--padding-top-40 {
        padding-top: 0;
    }
    .--padding-bottom-40 {
        padding-bottom: 0;
    }
    .--padding-top-80 {
        padding-top: 0;
    }
    .--padding-bottom-80 {
        padding-bottom: 0;
    }
    .--padding-120 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .--padding-top-120 {
        padding-top: 0;
    }
    .--padding-bottom-120 {
        padding-bottom: 0;
    }
    .--padding-160 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .--padding-top-160 {
        padding-top: 0;
    }
    .--padding-bottom-160 {
        padding-bottom: 0;
    }
    .--padding-200 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .--padding-top-200 {
        padding-top: 0;
    }
    .--padding-bottom-200 {
        padding-bottom: 0;
    }
    .--padding-top-240 {
        padding-top: 0;
    }
    .--padding-bottom-240 {
        padding-bottom: 0;
    }
    .--padding-top-320 {
        padding-top: 0;
    }
    .--padding-bottom-320 {
        padding-bottom: 0;
    }
    //
    // MARGINS
    //
    .--margin-24 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .--margin-top-24 {
        margin-top: 0;
    }
    .--margin-bottom-24 {
        margin-bottom: 0;
    }
    .--margin-32 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .--margin-top-32 {
        margin-top: 0;
    }
    .--margin-bottom-32 {
        margin-bottom: 0;
    }
    .--margin-40 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .--margin-top-40 {
        margin-top: 0;
    }
    .--margin-bottom-40 {
        margin-bottom: 0;
    }
    .--margin-48 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .--margin-top-48 {
        margin-top: 0;
    }
    .--margin-bottom-48 {
        margin-bottom: 0;
    }
    .--margin-64 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .--margin-top-64 {
        margin-top: 0;
    }
    .--margin-bottom-64 {
        margin-bottom: 0;
    }
    .--margin-80 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .--margin-top-80 {
        margin-top: 0;
    }
    .--margin-bottom-80 {
        margin-bottom: 0;
    }
    .--margin-120 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .--margin-top-120 {
        margin-top: 0;
    }
    .--margin-bottom-120 {
        margin-bottom: 0;
    }
    .--margin-160 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .--margin-top-160 {
        margin-top: 0;
    }
    .--margin-bottom-160 {
        margin-bottom: 0;
    }
    .--margin-200 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .--margin-top-200 {
        margin-top: 0;
    }
    .--margin-bottom-200 {
        margin-bottom: 0;
    }
    .--margin-top-240 {
        margin-top: 0;
    }
    .--margin-bottom-240 {
        margin-bottom: 0;
    }
    .--margin-top-320 {
        margin-top: 0;
    }
    .--margin-bottom-320 {
        margin-bottom: 0;
    } 
    //
    // PADDINGS MOBILE
    //
    .--padding-mobile-40 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .--padding-mobile-48 {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .--padding-mobile-64 {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .--padding-mobile-80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .--padding-mobile-120 {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .--padding-mobile-160 {
        padding-top: 160px;
        padding-bottom: 160px;
    }
    .--padding-mobile-200 {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    //
    // SPECIFIC
    //
    .--padding-mobile-top-24 {
        padding-top: 24px;
    }
    .--padding-mobile-bottom-24 {
        padding-bottom: 24px;
    }
    .--padding-mobile-top-32 {
        padding-top: 32px;
    }
    .--padding-mobile-bottom-32 {
        padding-bottom: 32px;
    }
    .--padding-mobile-top-40 {
        padding-top: 40px;
    }
    .--padding-mobile-bottom-40 {
        padding-bottom: 40px;
    }
    .--padding-mobile-top-64 {
        padding-top: 64px;
    }
    .--padding-mobile-bottom-64 {
        padding-bottom: 64px;
    }
    .--padding-mobile-top-80 {
        padding-top: 80px;
    }
    .--padding-mobile-bottom-80 {
        padding-bottom: 80px;
    }
    .--padding-mobile-top-120 {
        padding-top: 120px;
    }
    .--padding-mobile-bottom-120 {
        padding-bottom: 120px;
    }
    .--padding-mobile-top-160 {
        padding-top: 160px;
    }
    .--padding-mobile-bottom-160 {
        padding-bottom: 160px;
    }
    .--padding-mobile-top-200 {
        padding-top: 200px;
    }
    .--padding-mobile-bottom-200 {
        padding-bottom: 200px;
    }
    .--padding-mobile-top-240 {
        padding-top: 240px;
    }
    .--padding-mobile-bottom-240 {
        padding-bottom: 240px;
    }
    .--padding-mobile-top-320 {
        padding-top: 320px;
    }
    .--padding-mobile-bottom-320 {
        padding-bottom: 320px;
    }
    //
    // MARGINS MOBILE
    //
    .--margin-mobile-24 {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .--margin-mobile-32 {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .--margin-mobile-40 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .--margin-mobile-48 {
        margin-top: 48px;
        margin-bottom: 48px;
    }
    .--margin-mobile-64 {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .--margin-mobile-80 {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .--margin-mobile-120 {
        margin-top: 120px;
        margin-bottom: 120px;
    }
    .--margin-mobile-160 {
        margin-top: 160px;
        margin-bottom: 160px;
    }
    .--margin-mobile-200 {
        margin-top: 200px;
        margin-bottom: 200px;
    } 
    //
    // SPECIFIC
    //
    .--margin-mobile-top-24 {
        margin-top: 24px;
    }
    .--margin-mobile-bottom-24 {
        margin-bottom: 24px;
    }
    .--margin-mobile-top-32 {
        margin-top: 32px;
    }
    .--margin-mobile-bottom-32 {
        margin-bottom: 32px;
    }
    .--margin-mobile-top-40 {
        margin-top: 40px;
    }
    .--margin-mobile-bottom-40 {
        margin-bottom: 40px;
    }
    .--margin-mobile-top-64 {
        margin-top: 64px;
    }
    .--margin-mobile-bottom-64 {
        margin-bottom: 64px;
    }
    .--margin-mobile-top-80 {
        margin-top: 80px;
    }
    .--margin-mobile-bottom-80 {
        margin-bottom: 80px;
    }
    .--margin-mobile-top-120 {
        margin-top: 120px;
    }
    .--margin-mobile-bottom-120 {
        margin-bottom: 120px;
    }
    .--margin-mobile-top-160 {
        margin-top: 160px;
    }
    .--margin-mobile-bottom-160 {
        margin-bottom: 160px;
    }
    .--margin-mobile-top-200 {
        margin-top: 200px;
    }
    .--margin-mobile-bottom-200 {
        margin-bottom: 200px;
    }
    .--margin-mobile-top-240 {
        margin-top: 240px;
    }
    .--margin-mobile-bottom-240 {
        margin-bottom: 240px;
    }
    .--margin-mobile-top-320 {
        margin-top: 320px;
    }
    .--margin-mobile-bottom-320 {
        margin-bottom: 320px;
    }
}
/*=Z-INDEX MODS
----------------------------------------------------------------------*/

.--z-index-20 {
    position: relative;
    z-index: 20;
}
.--z-index-30 {
    position: relative;
    z-index: 30;
}
.--z-index-40 {
    position: relative;
    z-index: 40;
}
.--z-index-50 {
    position: relative;
    z-index: 50;
}
/*=CUSTOM PAGE, CONTAINER AND SECTIONS CLASSES
----------------------------------------------------------------------*/

.cis__page {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.cis__page__container {
    position: relative;
    width: 100%; //
    // SOLID BACKGROUND AND BEFORE BACKGROUND
    //
    //background: $gray-6;
    /*
    &:before {
        content: '';
        position: absolute;
        //width: 50%;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: $body-background-color;
        background: $gray-6;
        z-index: -1;
    }
    //*/
}
.cis__container {
    position: relative;
    background: $gray-6;
    width: 100%;
    height: 100%;
}
.cis__section {
    position: relative;
    width: 100%;
}
.cis__section--bg-color {
    position: relative;
    width: 100%;
    background: $body-background-color;
}
.cis__section__container {
    position: relative;
    width: 100%;
}
.cis--align-items-end {
    position: relative;
    display: flex;
    align-items: flex-end;
}