/*=SERVICES BLOCK
----------------------------------------------------------------------*/

.cis__section__services {
    position: relative;
    width: 100%; //background: $gray-5;
    /*
    &:before{
        background: $gray-5;
    }
    //*/
}
.cis__section__services__service, a.cis__section__services__service {
    position: relative;
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 28px 0 16px 0;
    border-bottom: 1px solid $gray-4;
    transition: border .35s var(--ease-quint-out);
    p {
        @extend .founders--medium;
        position: relative;
        display: block;
        font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320))); //letter-spacing: -.32px;
        margin-bottom: 4px;
        color: $gray-1;
    }
    .cis__section__services__service__list__item--small-text {
        @extend .founders--regular;
        font-size: 20px;
        color: $gray-2;
    }
    &:hover {
        border-color: transparent;
        transition: border 1.5s var(--ease-quint-in-out);
        .cis__section__services__service__line {
            width: 100%;
            transition: width .75s var(--ease-quint-out);
        }
        .cis__arrow__st0 {
            fill: $blue-0;
            transition: fill .75s var(--ease-quint-out);
        }
        .cis__arrow-cta__ellipse__st0 {
            fill: $gray-5;
            transform: scale(.75);
            transition: transform .75s var(--ease-quint-out), fill .75s var(--ease-quint-out);
        }
        .cis__arrow-cta__ellipse__st1 {
            stroke: $gray-5;
            transition: stroke 1s var(--ease-quint-out);
        }
        .cis__arrow-cta--compressed {
            transform: translateX(-24px) translateY(-32px);
            transition: transform .75s var(--ease-quint-out);
        }
        .cis__section__services__service--text {
            color: $gray-5;
            transform: translateX(24px); //color: $blue-1;
            transition: transform .75s var(--ease-quint-out), color .75s var(--ease-quint-out);
        }
    }
}
.cis__section__services__service--text {
    position: relative;
    z-index: 10;
    transition: transform 1s var(--ease-quint-out), color 1s var(--ease-quint-out);
    transition-delay: .25s, .25s;
}
.cis__section__services__service__line {
    position: absolute;
    width: 0; //height: 2px;
    height: 100%;
    bottom: 0;
    left: 0;
    background: $gray-1;
    transition: width 1s var(--ease-quint-in-out);
    pointer-events: none;
}
.cis__section__services__service__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    pointer-events: none;
}
.cis__section__services__service__list__item {
    position: relative;
}
.cis__section__services__service__left {
    position: relative;
    padding-right: 120px;
}
.cis__section__services__service__right {
    position: relative;
    /*
    background: yellow;
    display: flex;
    font-size: 18px;
    p {
        font-size: 18px;
    }
    //*/
}
.cis__section__services__service__anchor {
    position: relative;
}
.cis__section__services__service__image {
    position: absolute;
    width: calc(100% + 24px); //left: 0;
    //bottom: 0;
    //@extend .horizontal-align;
    @extend .center-align;
    pointer-events: none;
    z-index: 30;
    .--figure {
        display: none;
    }
}