/*=SERVICES BLOCK
----------------------------------------------------------------------*/

.cis__services__carousel {
    //display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 120;
    background: $gray-6;
    /*
    &:before{
        background: $gray-5;
    }
    //*/
    @extend .no-select;
    transform: translateX(0vw);
    overflow: hidden;
    transition: transform 1s var(--ease-quint-in-out), background 1.5s var(--ease-quint-in-out);
    /*
    .flickity-page-dots {
        visibility: hidden;
        opacity: 0;
        transform: translateY(30px);
    }
    //*/
}
.cis__services__carousel__container {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%; //transform: translateX(0vw);
    transition: transform 1s var(--ease-quint-in-out);
}
.cis__services__carousel--inactive {
    background: $gray-5; //background: $pink-4;
    transform: translateX(95vw);
    transition: transform 1s var(--ease-quint-in-out), background 1.5s var(--ease-quint-in-out);
    .cis__services__carousel__marquee__container {
        animation: marquee 60s infinite linear;
        color: $gray-1;
        transition: color 1.5s var(--ease-quint-in-out), opacity 1.5s var(--ease-quint-in-out), visibility 1.5s var(--ease-quint-in-out);
        opacity: 0;
        visibility: hidden;
    }
    .cis__services__carousel__container {
        transform: translateX(-95vw);
        transition: transform 1s var(--ease-quint-in-out);
    }
    @include media(small) {
        transform: translateX(100vw);
        .cis__services__carousel__container {
            transform: translateX(-100vw);
        }
    }
}
.cis__services__carousel--section-active {
    transform: translateX(100vw);
    transition: transform 0.5s var(--ease-quint-in-out);
    @include media(small) {
        //transform: translateX(0vw);
    }
}
.services-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 30;
}
.cis__services__carousel__bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    opacity: .5;
    //display: none;
}
/*=MARQUEE
----------------------------------------------------------------------*/

.cis__services__carousel__marquee {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 30;
    display: flex;
    align-items: center;
    pointer-events: none;
}
.cis__services__carousel__marquee__container {
    --space: 6vw;
    font-size: calc(300px + (480 - 300) * ((100vw - 320px) / (1920 - 320)));
    margin-top: 8vw;
    color: $gray-5;
    color: $white;
    @extend .founders--regular;
    white-space: nowrap;
    animation: marquee 60s infinite linear;
    padding-left: var(--space);
    &:after {
        content: attr(data-text);
        padding-left: var(--space);
    }
    transition: transform 1s var(--ease-quint-in-out), color 0.75s var(--ease-quint-in-out), opacity .75s var(--ease-quint-in-out), visibility .75s var(--ease-quint-in-out);
    @include media(small) {
        margin-top: 20vw;
    }
}
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
/*=CELL
----------------------------------------------------------------------*/

.services-carousel__cell {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 30;
}
.services-carousel__cell__container {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 30;
}
.services-carousel__cell__container__row {
    position: relative; //width: auto;
    height: 100%;
}
.services-carousel__cell__container__col {
    position: relative;
    display: flex;
    align-items: center;
}
/*=WHITE BOX
----------------------------------------------------------------------*/

.services-carousel__white-box {
    background: transparent;
    background: $white;
    position: relative;
    z-index: 30;
    width: 100%;
    padding-top: 118.6%;
    visibility: hidden;
    opacity: 0;
    //box-shadow: 0 2.8px 2.2px -24px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px -24px rgba(0, 0, 0, 0.028), 0 12.5px 10px -24px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px -24px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px -24px rgba(0, 0, 0, 0.05), 0 100px 80px -24px rgba(0, 0, 0, 0.07);
}
.services-carousel__white-box__border {
    position: absolute;
    width: 100%;
    height: 16px;
    //height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: $pink-3;
    //opacity: 0;
}
/*=CONTENT
----------------------------------------------------------------------*/

.services-carousel__content {
    position: absolute;
    z-index: 30;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}
.services-carousel__digit {
    position: relative;
    font-size: 32px;
    @extend .founders--medium;
    color: $gray-1;
    z-index: 10;
    padding-top: 24px;
    @include media(small) {
        font-size: 24px;
        padding-top: 16px;
    }
}
.services-carousel__content__headings {
    position: relative;
    display: none;
    //z-index: 30;
    //width: calc(calc(100vw - 120px) / 12 * 3 - #{$grid-gap});
    //padding-bottom: 32px;
    //right: 0;
    //transform: translateX(calc(0% + (80 - 0) * ((100vw - 320px) / (1920 - 320))));
    //transform: translateX(76%);
    @include media(small) {
        display: block;
        width: 100%;
        transform: translateX(0%);
        padding-bottom: 0;
    }
}
/*=OVERLAY TITLES
----------------------------------------------------------------------*/

.cis__services__carousel__title {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    z-index: 60;
    pointer-events: none;
    @extend .vertical-align;
    margin-top: 15%;
    @include media(small) {
        display: none;
    }
}
.services-carousel__new-titles-container {
    position: absolute;
    width: auto;
    bottom: 0;
    left: 0;
    padding-bottom: 64px;
}
.services-carousel__category {
    position: relative;
    z-index: 10;
    color: $gray-1;
    text-transform: uppercase;
    letter-spacing: 0.05px;
    margin-bottom: 16px;
    @extend .founders--bold;
    @include media(small) {
        display: block;
        margin-bottom: 8px;
        line-height: 1; //padding-right: 64px;
    }
}
.services-carousel__heading {
    position: relative;
    display: inline-block;
    z-index: 10; //@extend .founders--medium;
    @extend .founders--bold;
    color: $gray-1;
    font-size: calc(24px + (64 - 24) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(32px + (72 - 32) * ((100vw - 320px) / (1920 - 320)));
    letter-spacing: -0.5px;
    margin-bottom: 24px;
    padding-bottom: 0; //word-break: break-word;
    span {
        color: $gray-1;
    }
    @include media(small) {
        margin-bottom: 0px;
    }
}
.link--underline {
    background-image: linear-gradient(0deg, $pink-3 0%, $pink-3 100%);
    background-repeat: no-repeat; //background: #000;
    background-size: 0% 50%;
    background-position: 0 94%; //transition: background-size 600ms cubic-bezier(0.77, 0, 0.175, 1);
    div {
        display: inline-block !important;
        margin-right: $base-line;
        pointer-events: none;
        &:last-of-type {
            margin-right: 0;
        }
    }
}
.link--underline-full {
    background-size: 100% 32%;
    transition: background-size 850ms var(--ease-quint-in-out);
}
/*=OVERLAY IMAGE
----------------------------------------------------------------------*/

.cis__services__carousel__image {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    z-index: 50;
    pointer-events: none;
    text-align: center;
    @extend .vertical-align;
    @include media(small) {
        display: none;
    }
    visibility: hidden;
    opacity: 0;
}
.cis__services__carousel__image__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.cis__services__carousel__image__figure {
    position: absolute; //opacity: .5;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    picture, img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}
/*=MAIN IMAGE
----------------------------------------------------------------------*/

.services-carousel__main-image-small {
    position: absolute;
    display: none;
    @extend .center-align;
    z-index: 20;
    pointer-events: none;
    @include media(small) {
        display: block;
        width: 85%;
        margin-top: -10%;
    }
}
/*=SECONDARY IMAGE
----------------------------------------------------------------------*/

.sevices-carousel__image-container {
    position: absolute;
    width: 120px;
    z-index: 40;
    @include media(small) {
        width: 64px;
        display: none;
    }
    background: red; //transform: translateX(-100%);
}
.services-carousel__figure {
    position: absolute;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    picture, img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}
.services-carousel__figure--top-left {
    top: 22%;
    left: -20%;
    @include media(small) {
        left: -8%;
    }
}
.services-carousel__figure--top-right {
    top: 22%;
    right: -20%;
    @include media(small) {
        right: -8%;
    }
}
.services-carousel__figure--bottom-left {
    left: -20%;
    bottom: 40%;
}
/*=TRIGGER BUTTON
----------------------------------------------------------------------*/

.cis__services__trigger {
    position: fixed;
    top: 0;
    right: 0;
    width: 5vw;
    height: 100%;
    background: transparent;
    z-index: 125;
    @extend .reset-button;
    cursor: pointer;
    transition: transform 1s var(--ease-quint-in-out);
    @include media(small) {
        display: none;
    }
}
.cis__services__trigger--initial {
    display: none;
}
.cis__services__trigger--section-active {
    transform: translateX(100vw);
    transition: transform 0.5s var(--ease-quint-in-out);
}
/*=SERVICES BUTTON
----------------------------------------------------------------------*/

.cis__services__button {
    @extend .reset-button;
    position: fixed;
    transform: translateX(calc(95vw - 60px)) translateY(50vh);
    margin-top: -60px;
    top: 0;
    left: 0; //right: calc(5vw - 60px);
    width: 120px;
    height: 120px;
    z-index: 130; //mix-blend-mode: exclusion;
    cursor: pointer;
    &:hover {
        .cis__services__button__circle-bg {
            fill: $gray-0;
            transform-origin: center;
            transform: scale(1.27);
            transition: transform 1s var(--ease-quint-in-out), fill .5s var(--ease-quint-in-out);
        }
        .cis__services__button__marquee__container {
            .cis__services__button--svg-1 {
                fill: $gray-6;
                transition: fill 1s var(--ease-quint-in-out);
            }
            transform: scale(.8);
            transition: transform 1s var(--ease-quint-in-out);
        }
    }
    opacity: 1;
    visibility: visible;
    transition: transform .8s var(--ease-quint-in-out), opacity 1s var(--ease-quint-in-out), visibility 1s var(--ease-quint-in-out);
    @include media(small) {
        transform: translateX(0) translateY(0);
        margin-top: 0;
        top: inherit;
        left: 16px;
        bottom: 16px;
        width: calc(100% - 32px);
        height: auto;
        z-index: 130;
        cursor: pointer;
        background: $gray-0;
        padding: 24px 24px 16px 24px;
        text-align: center;
        border-radius: 48px;
        svg {
            display: none;
        }
    }
}
.cis__services__button__label {
    display: none;
    font-size: 19px; //letter-spacing: 0.04em;
    text-transform: uppercase;
    @extend .founders--bold;
    color: $gray-1;
    color: $white;
    @include media(small) {
        display: block;
    }
}
.cis__services__button--svg-1 {
    fill: $gray-0;
}
.cis__services__button__circle-bg {
    fill: $blue-0;
    transform: scale(.75);
    transform-origin: center;
    transition: transform 1s var(--ease-quint-out), fill 1s var(--ease-quint-out);
}
.cis__services__button--svg-3 {
    fill: $gray-6;
}
.cis__services__button--svg-4 {
    fill: $gray-4;
}
.cis__services__button--cross {
    transform-origin: center;
    transform: scale(.5);
    opacity: 0;
    fill: $gray-1;
    pointer-events: none;
    transition: opacity .75s var(--ease-quint-out);
}
.cis__services__button__logo {
    opacity: 1;
    transition: opacity 1s var(--ease-quint-out);
}
.cis__services__button__marquee {
    transform-origin: center;
    transform: scale(1);
    transition: transform 1s var(--ease-quint-out), fill 1s var(--ease-quint-out), opacity .75s var(--ease-quint-out);
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
}
.cis__services__button__marquee__container {
    position: absolute;
    z-index: 20;
    transform-origin: center;
    transform: scale(1);
    transition: transform 1s var(--ease-quint-out), fill 1s var(--ease-quint-out);
}
.cis__services__button--section-active {
    //transform: translateX(100vw);
    opacity: 0;
    visibility: hidden;
    transition: transform 1.2s var(--ease-quint-in-out), opacity 1s var(--ease-quint-in-out), visibility 1s var(--ease-quint-in-out);
}
@-webkit-keyframes rotating
/* Safari and Chrome */

    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.cis__services__button--active {
    .cis__services__button__logo {
        opacity: 0;
        transition: opacity .75s var(--ease-quint-out);
    }
    .cis__services__button__marquee {
        opacity: 0;
        transition: opacity .75s var(--ease-quint-out);
    }
    .cis__services__button__marquee__container {
        transform: scale(.25);
        transition: transform .75s var(--ease-quint-in-out);
    }
    .cis__services__button--cross {
        opacity: 1;
        visibility: visible;
        transform: scale(.5);
        transition: transform 1s var(--ease-quint-out), opacity .75s var(--ease-quint-out);
    }
    .cis__services__button__circle-bg {
        //fill: $gray-5;
        fill: $white;
        transition: transform 1s var(--ease-quint-out), fill 1s var(--ease-quint-out);
    }
    &:hover {
        .cis__services__button--cross {
            transform-origin: 50% 50%;
            transform: rotate(-180deg) scale(.5);
            fill: $white;
            transition: transform .75s var(--ease-quint-in-out), fill .5s var(--ease-quint-in-out);
        }
        .cis__services__button__circle-bg {
            fill: $gray-0;
            transform: scale(.75);
            transform-origin: center;
            transition: transform .75s var(--ease-quint-in-out), fill .5s var(--ease-quint-in-out);
        }
    }
}
.cis__services__button--park-below {
    transform: translateX(calc(95vw - 60px)) translateY(85vh);
    transition: transform .8s var(--ease-quint-in-out), opacity 1s var(--ease-quint-in-out), visibility 1s var(--ease-quint-in-out);
    @include media(small) {
        transform: translateX(0) translateY(0);
    }
}
/*=SERVICE BUTTON OPEN AND CLOSE STATES
----------------------------------------------------------------------*/

.cis__services__button--park-below--open {
    //transform: translateX(calc(5vw)) translateY(50vh);
    transform: translateX(calc(50vw - 60px)) translateY(72px);
    transition: transform .8s var(--ease-quint-in-out);
}
.cis__services__button--open {
    //transform: translateX(calc(5vw)) translateY(50vh);
    transform: translateX(calc(50vw - 60px)) translateY(72px);
    transition: transform .8s var(--ease-quint-in-out);
    @include media(small) {
        /*
        transform: translateX(0) translateY(0);
        margin-top: 0;
        top: inherit;
        left: 16px;
        bottom: 16px;
        width: calc(100% - 32px);
        height: auto;
        z-index: 130;
        cursor: pointer;
        background: $gray-1;
        padding: 24px 24px 16px 24px;
        text-align: center;
        border-radius: 48px;
        svg {
            display: none;
        }
        //*/
        margin-top: -60px;
        top: 0;
        left: 0;
        width: 120px;
        height: 120px;
        background: transparent;
        padding: 16px;
        transform: translateX(calc(50vw - 60px)) translateY(16vh);
        svg {
            display: block;
        }
        .cis__services__button__label{
            opacity: 0;
            visibility: hidden;
        }
    }
}
/*=CONTROLS: PAGE DOTS AND PREV–NEXT BUTTONS
----------------------------------------------------------------------*/

.services-carousel__page-dots {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 80;
    left: 0;
    bottom: 48px;
    width: 100%;
    height: 120px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(30px);
}
.services-carousel__previous {
    position: relative;
    margin: 0;
    transform: scale(.8);
}
.services-carousel__next {
    position: relative;
    margin: 0;
    transform: scale(.8);
}
.services-carousel__page-dots__list {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: calc(90% - 56px);
}
/*=DOT
----------------------------------------------------------------------*/

.services-carousel__page-dots__list__item {
    position: relative;
    display: block;
    width: 64px;
    height: 88px;
    margin-bottom: 24px;
    overflow: hidden;
    @include media(small) {
        display: none;
    }
}
.services-carousel__page-dots__button {
    @extend .reset-button;
    position: absolute;
    padding: 8px;
    width: 64px;
    height: 64px;
    bottom: 0;
    border-radius: 44px;
    cursor: pointer;
    &:hover {
        .services-carousel__page-dots__button__container {
            transform-origin: center;
            transform: scale(.5);
            transition: transform .75s var(--ease-quint-out);
        }
    }
}
.services-carousel__page-dots__button__container {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 50%;
    margin-top: -24px;
    border-radius: 44px;
    background: $gray-5;
    transform-origin: center;
    transform: scale(.25);
    transition: background .75s var(--ease-quint-out), transform .5s var(--ease-quint-out);
}
.services-carousel__page-dots__button__figure {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    bottom: 3px;
    pointer-events: none;
    picture, img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        pointer-events: none;
    }
    opacity: 0;
    transform: translateY(64px);
    transition: opacity .25s var(--ease-quint-in-out), transform .75s var(--ease-quint-in-out);
}
.services-carousel__page-dots__list__item--active {
    display: block;
    .services-carousel__page-dots__button__container {
        transform-origin: center;
        transform: scale(1);
        background: $white !important;
        transition: background 3s var(--ease-quint-out), transform .5s var(--ease-quint-out);
    }
    .services-carousel__page-dots__button__figure {
        opacity: 1;
        transform: translateY(0);
        transition: opacity .75s var(--ease-quint-in-out), transform .75s var(--ease-quint-in-out);
    }
    &:hover {
        .services-carousel__page-dots__button__container {
            transform: scale(1);
            transition: background 3s var(--ease-quint-out), transform .5s var(--ease-quint-out);
        }
    }
    @include media(small) {
        display: block;
    }
}
@include media(small) {
    .cis__services__carousel {}
    .services-carousel__page-dots__list__item {}
    .services-carousel__page-dots__list__item--active {}
    .cis__services__carousel__marquee__container {}
    .cis__services__button {}
}
@include media(medium) {}
@include media(large) {}
@include media(xl) {}