/*=SLIDER
----------------------------------------------------------------------*/

.slider-block {
    position: relative;
    width: 100%;
    //padding-bottom: 40px;
}
.slider-block__cell {
    position: relative;
    margin-right: 24px;
    width: 100%;
    img {
        position: absolute;
        width: 100%;
        //height: 100%;
        top: 0;
        left: 0;
    }
}
.--figcaption {
    figcaption {
        position: relative; //background: red;
        width: 60%;
        left: 0;
        bottom: 0; //display: none;
    }
}
/*=MEDIA QUERIES
----------------------------------------------------------------------*/

@include media(xs) {
    .--figcaption {
        figcaption {
            width: 100%;
        }
    }
    .slider-block {
        position: relative;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
    .--figcaption {
        padding-left: 16px;
        padding-right: 16px;
    }
}
@include media(small) {
    .slider-block {
        position: relative;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
    .--figcaption {
        padding-left: 16px;
        padding-right: 16px;
    }
}
//@include media(large) {}
//@include media(xl) {}