/*=SPACER
----------------------------------------------------------------------*/

.section-block__spacer {
    position: relative;
    height: 120px;
    @include media(small) {
        height: 80px;
    }
}