/*=TYPOGRAPHIC STYLES
----------------------------------------------------------------------*/

/*=HEADINGS
----------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, p {
    /*
    @extend .nhg--roman;
    color: $gray-1;
    strong, b {
        @extend .nhg--medium;
    }
    em, i {
        @extend .nhg--italic;
    }
    span.crossed, del, s {
        color: $gray-2;
        text-decoration: line-through;
    }
    //*/
    /*
    a { 
        position: relative;
        color: $gray-1;
        text-decoration: none;
        background-image: linear-gradient($gray-0, $gray-0);
        background-position: 0% 96%;
        background-repeat: no-repeat;
        background-size: 100% 3px;
        transition: background 450ms cubic-bezier(0.77, 0, 0.175, 1), color 450ms cubic-bezier(0.77, 0, 0.175, 1);
    }
    a:hover, a:focus {
        color: $gray-0;
        background-size: 0% 3px;
        transition: background 250ms cubic-bezier(0.77, 0, 0.175, 1);
    }
    //*/
}
h1 {
    position: relative;
    display: inline-block;
    z-index: 30;
    font-weight: 500;
    font-style: normal;
    font-size: calc(48px + (96 - 48) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(40px + (88 - 40) * ((100vw - 320px) / (1920 - 320))); //line-height: .96;
    //letter-spacing: -1.15px;
    margin-bottom: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    color: $gray-1;
    em, i {
        position: relative;
        display: inline;
        z-index: 10;
        font-weight: inherit !important;
        font-style: inherit !important;
        font-size: inherit;
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $purple-1 0%, $purple-1 100%);
        background-repeat: no-repeat;
        background-size: 100% calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
        background-position: 0 79%;
        transition: background-size .75s var(--ease-quint-out);
    }
    strong, b {
        position: relative;
        display: inline;
        z-index: 10;
        font-weight: inherit !important;
        font-style: inherit !important;
        font-size: inherit;
        margin: 0;
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $yellow-1 0%, $yellow-1 100%);
        background-repeat: no-repeat;
        background-size: 100% 80%;
        background-position: 0 0;
        transition: background-size .75s var(--ease-quint-out);
    }
    a {
        position: relative;
        color: $gray-1;
        text-decoration: none;
    }
    a:hover, a:focus {
        color: $gray-0;
        background-size: 0% 50px;
        transition: background 250ms cubic-bezier(0.77, 0, 0.175, 1);
    }
    span.crossed, del, s {
        color: $gray-3;
        text-decoration: line-through;
    }
}
/*=HERO HEADING
----------------------------------------------------------------------*/

.content__jumbo__h1 {
    position: relative;
    display: block;
    font-weight: normal;
    font-style: normal;
    font-size: calc(80px + (320 - 80) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(80px + (200 - 80) * ((100vw - 320px) / (1920 - 320)));
    letter-spacing: -1.15px;
    margin-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
    color: $gray-1;
    em, i {
        position: relative;
        display: inline;
        z-index: 10;
        font-weight: inherit;
        font-style: inherit;
        font-size: inherit;
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $blue-1 0%, $blue-1 100%);
        background-repeat: no-repeat;
        background-size: 100% calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
        background-position: 0 72%;
        transition: background-size .75s var(--ease-quint-out);
    }
    strong, b {
        position: relative;
        display: inline;
        z-index: 10;
        font-weight: inherit;
        font-style: inherit;
        font-size: inherit;
        margin: 0;
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $yellow-1 0%, $yellow-1 100%);
        background-repeat: no-repeat;
        background-size: 100% 80%;
        background-position: 0 0;
        transition: background-size .75s var(--ease-quint-out);
    }
}
.content__hero__h1 {
    position: relative;
    display: block;
    font-weight: normal;
    font-style: normal;
    font-size: calc(32px + (160 - 32) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(64px + (144 - 64) * ((100vw - 320px) / (1920 - 320)));
    letter-spacing: -1.15px;
    margin-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
    color: $gray-1;
    em, i {
        position: relative;
        display: inline;
        z-index: 10;
        font-weight: inherit;
        font-style: inherit;
        font-size: inherit;
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $blue-1 0%, $blue-1 100%);
        background-repeat: no-repeat;
        background-size: 100% calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
        background-position: 0 72%;
        transition: background-size .75s var(--ease-quint-out);
    }
    strong, b {
        position: relative;
        display: inline;
        z-index: 10;
        font-weight: inherit;
        font-style: inherit;
        font-size: inherit;
        margin: 0;
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $yellow-1 0%, $yellow-1 100%);
        background-repeat: no-repeat;
        background-size: 100% 80%;
        background-position: 0 0;
        transition: background-size .75s var(--ease-quint-out);
    }
}
h2 {
    position: relative;
    display: block;
    font-weight: normal;
    color: $gray-1;
    font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(40px + (56 - 40) * ((100vw - 320px) / (1920 - 320)));
    letter-spacing: -.64px;
    margin-bottom: calc(40px + (64 - 40) * ((100vw - 320px) / (1920 - 320)));
    &:first-of-type {
        //text-indent: calc(40px + (120 - 40) * ((100vw - 320px) / (1920 - 320)));
    } //padding-left: calc(0px + (88 - 0) * ((100vw - 320px) / (1920 - 320)));
    //transition: padding 1.5s var(--ease-quint-in-out);
    a {
        position: relative;
        color: $gray-1;
        text-decoration: none;
    }
    a:hover, a:focus {
        color: $orange-1;
    }
    span.crossed, del, s {
        color: $orange-1;
        text-decoration: line-through;
        div {
            color: $orange-1;
            text-decoration: line-through;
        }
    }
    /*=UNDERLINE
    ----------------------------------------------------------------------*/
    em, i {
        position: relative;
        display: inline;
        z-index: 10;
        font-weight: inherit;
        font-style: inherit;
        font-size: inherit;
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $green-1 0%, $green-1 100%);
        background-repeat: no-repeat;
        background-size: 100% calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
        background-position: 0 84%;
        transition: background-size .75s var(--ease-quint-out);
    }
    /*=HIGHLIGHT
    ----------------------------------------------------------------------*/
    strong, b {
        position: relative;
        display: inline;
        z-index: 10;
        font-weight: inherit;
        font-style: inherit;
        font-size: inherit;
        margin: 0;
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        //background-image: linear-gradient(0deg, $yellow-1 0%, $yellow-1 100%);
        background-image: linear-gradient(0deg, $coral-1 0%, $coral-1 100%);
        background-repeat: no-repeat;
        background-size: 100% 80%;
        background-position: 0 0;
        transition: background-size .75s var(--ease-quint-out);
    }
}
h3 {
    position: relative;
    font-weight: 500;
    color: $gray-1;
    font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(32px + (40 - 32) * ((100vw - 320px) / (1920 - 320)));
    letter-spacing: -.32px;
    margin-bottom: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320)));
    &:first-of-type {
        //text-indent: calc(40px + (120 - 40) * ((100vw - 320px) / (1920 - 320)));
    }
    a {
        position: relative;
        color: $gray-1;
        text-decoration: none;
    }
    a:hover, a:focus {
        color: $orange-1;
    }
    span.crossed, del, s {
        color: $orange-1;
        text-decoration: line-through;
        div {
            color: $orange-1;
            text-decoration: line-through;
        }
    }
    /*=UNDERLINE
    ----------------------------------------------------------------------*/
    em, i {
        position: relative;
        display: inline;
        z-index: 10;
        font-weight: inherit;
        font-style: inherit;
        font-size: inherit;
        /*=UNDERLINE
        ----------------------------------------------------------------------*/
        background-image: linear-gradient(0deg, $green-1 0%, $green-1 100%);
        background-repeat: no-repeat;
        background-size: 100% calc(6px + (10 - 6) * ((100vw - 320px) / (1920 - 320)));
        background-position: 0 80%;
        transition: background-size .75s var(--ease-quint-out);
    }
    /*=HIGHLIGHT
    ----------------------------------------------------------------------*/
    strong, b {
        position: relative;
        display: inline;
        z-index: 10;
        font-weight: inherit;
        font-style: inherit;
        font-size: inherit;
        margin: 0;
        /*=HIGHLIGHT
        ----------------------------------------------------------------------*/
        //background-image: linear-gradient(0deg, $yellow-1 0%, $yellow-1 100%);
        background-image: linear-gradient(0deg, $coral-1 0%, $coral-1 100%);
        background-repeat: no-repeat;
        background-size: 100% 80%;
        background-position: 0 0;
        transition: background-size .75s var(--ease-quint-out);
    }
}
h4 {
    color: $gray-0;
    font-size: calc(18px + (21 - 17) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(26px + (29 - 25) * ((100vw - 320px) / (1920 - 320)));
    @extend .founders--bold;
    margin-bottom: 48px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    /*
    &:before {
        content: '•';
        position: relative;
        margin-right: 8px;
        color: $coral-1;
        font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320)));
        top: 1px;
    }
    //*/
}
h5 {
    font-size: 16px;
    line-height: 24px;
    color: $gray-1;
    margin: 0;
    margin-bottom: 24px;
    @extend .founders--bold;
    span {
        color: $coral-1;
    }
}
h6 {
    position: relative;
    top: -4px;
    font-size: 12px;
    line-height: 20px;
    color: $gray-1;
    margin: 0; //margin-bottom: 2px;
    @extend .founders--bold;
    text-transform: uppercase;
    span {
        color: $coral-1;
    }
}
/*=PARAGRAPHS
----------------------------------------------------------------------*/

p {
    position: relative;
    @extend .founders--regular;
    color: $gray-2;
    font-size: calc(20px + (22 - 20) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(24px + (26 - 24) * ((100vw - 320px) / (1920 - 320)));
    //line-height: 1.25;
    //font-size: clamp(1.6rem,calc(1.6rem + ((1vw - 12px) * .5555555556)),2rem);
    margin: 0;
    margin-bottom: 24px;
    a {
        color: $gray-1;
    }
    strong, b {
        font-weight: bold;
        color: $gray-1;
    }
    em, i {
        font-weight: normal;
        font-style: italic;
        color: $gray-1;
    }
}
.big {
    position: relative; //font-size: calc(21px + (32 - 21) * ((100vw - 320px) / (1920 - 320)));
    //line-height: calc(27px + (40 - 27) * ((100vw - 320px) / (1920 - 320)));
    font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320))); //letter-spacing: -.32px;
    margin-bottom: calc(21px + (32 - 21) * ((100vw - 320px) / (1920 - 320)));
    p {
        position: relative; //font-size: calc(21px + (32 - 21) * ((100vw - 320px) / (1920 - 320)));
        //line-height: calc(27px + (40 - 27) * ((100vw - 320px) / (1920 - 320)));
        font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320))); //letter-spacing: -.32px;
        margin-bottom: calc(21px + (32 - 21) * ((100vw - 320px) / (1920 - 320)));
    }
}
.s {
    position: relative;
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320))); //letter-spacing: -.19px;
    margin-bottom: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    p {
        position: relative;
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320))); //line-height: calc(18px + (26 - 18) * ((100vw - 320px) / (1920 - 320)));
        letter-spacing: -.19px;
        margin-bottom: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    }
}
.xs {
    position: relative;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320))); //letter-spacing: 0.13px;
    margin-bottom: 16px;
    p {
        position: relative;
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320))); //letter-spacing: 0.13px;
        margin-bottom: 16px;
    }
}
.micro {
    position: relative;
    font-size: 14px;
    line-height: 20px; //letter-spacing: 0;
    margin-bottom: 16px;
    p {
        position: relative;
        font-size: 14px;
        line-height: 20px; //letter-spacing: 0;
        margin-bottom: 16px;
    }
}
p.cover__container__scroll-for-more {
    strong {
        text-transform: uppercase;
    }
    @include media(small) {
        font-size: 14px;
    }
}
/*=ANCHORS AND LINKS
----------------------------------------------------------------------*/

/*
a {
    color: $gray-3;
    text-decoration: none;
    transition: color 900ms var(--ease-quart-out);
    * {
        pointer-events: none;
    }
    &:hover {
        color: $gray-0;
        transition: color 600ms var(--ease-quart-in-out);
    }
}
button {
    color: $gray-3;
    transition: color 600ms var(--ease-quart-in-out);
    * {
        pointer-events: none;
    }
    &:hover {
        color: $gray-0;
        transition: color 600ms var(--ease-quart-in-out);
    }
}
//*/

/*=CONTENT BLOCK STYLES
----------------------------------------------------------------------*/

//
// LIST
//
.content__p {
    ul {
        position: relative;
        margin: 0;
        margin-left: 16px;
        margin-bottom: 24px;
        li, p {
            position: relative;
            margin: 0;
            margin-bottom: 4px;
        }
    }
}
.content__top-margin {
    margin-top: 40px;
    p {
        margin-top: 40px;
    }
}
.content__bottom-margin {
    margin-bottom: 40px;
    p {
        margin-bottom: 40px;
    }
}
.content__no-top-margin {
    margin-top: 0;
    p {
        margin-top: 0;
    }
}
.content__no-bottom-margin {
    margin-bottom: 0;
    p {
        margin-bottom: 0;
    }
}
.content__modular-block-padding {
    padding-bottom: 24px;
}
//
// ALIGNMENT
//
.centered-content {
    position: relative;
    text-align: center;
}
.content__left {
    text-align: left;
}
.content__right {
    text-align: right;
}
.content__center {
    text-align: center;
}
.content__text-uppercase {
    text-transform: uppercase;
}