/*=VALUE BLOCK
----------------------------------------------------------------------*/

.cis__value-block__list {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}
.cis__value-block__list__item {
    position: relative;
    figure, picture, img{
        position: relative;

    }
}
/*=TWO / THREE 2/3 COLUMNS SECTION
----------------------------------------------------------------------*/

.cis__value-block--two-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    @include media(small) {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        //padding: 0 24px;
    }
}
.cis__value-block--three-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
}