/* =Font Files
-----------------------------------------------------------------------------*/

/*
  Import all of your fonts here.
  the regular path should be '../fonts/name-of-font/font.woff'
*/

@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/founders/FoundersGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/founders/FoundersGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/founders/FoundersGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Founders Grotesk Regular';
    src: url('../fonts/founders/FoundersGrotesk-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Founders Grotesk';
    src: url('../fonts/founders/FoundersGrotesk-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
/*
@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/crimson/CrimsonText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/crimson/CrimsonText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Crimson Text';
    src: url('../fonts/crimson/CrimsonText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
//*/
@font-face {
    font-family: 'Nocturne Serif';
    src: url('../fonts/nocturne/NocturneSerif-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Nocturne Serif';
    src: url('../fonts/nocturne/NocturneSerif-Lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Nocturne Serif';
    src: url('../fonts/nocturne/NocturneSerif-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Nocturne Serif';
    src: url('../fonts/nocturne/NocturneSerif-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
/*

THE BRANDED AND NESTED BEM METHOD FOR FONT NAMES

- Add a unique name for the whole family and subfamily: 
    
    ".sailec"

- Add a modifier for _each_ font style:
    
    ".sailec", ".sailec--bold", ".sailec--bold-italic" etc.

- Add the font-family:
    
    "font-family: 'Sailec';"

- Reset the weight and style to "normal" (the font-file should already include the correct ones).
    
    "font-weight: normal;"
    "font-style: normal;"

- Add nested styles for _italic/emphasis_ and *bold/strong* corresponding to each available style state of each font file. Nest _as much as possible_ to include every font usage combination:
  
  .sailec {
      font-family: 'Sailec';
      font-weight: normal;
      font-style: normal;
      em, i {
          font-family: 'Sailec-Italic';
          font-weight: normal;
          font-style: normal;
          strong, b {
              font-family: 'Sailec-BoldItalic';
              font-weight: normal;
              font-style: normal;
          }
      }
      strong, b {
          font-family: 'Sailec-Bold';
          font-weight: normal;
          font-style: normal;
          em, i {
              font-family: 'Sailec-BoldItalic';
              font-weight: normal;
              font-style: normal;
          }
      }
  }

  This way, if you apply a class to a section, it will automatically work with bold and italics.


And that's it.

*/

.founders--regular {
    font-family: 'Founders Grotesk';
    font-weight: normal;
    font-style: normal;
    em, i {
        font-style: italic;
    }
}
.founders--italic {
    font-family: 'Founders Grotesk';
    font-weight: normal;
    font-style: italic;
}
.founders--bold {
    font-family: 'Founders Grotesk';
    font-weight: bold;
    font-style: normal;
    em, i {
        font-weight: bold;
        font-style: italic;
    }
}
.founders--bold-italic {
    font-family: 'Founders Grotesk';
    font-weight: bold;
    font-style: italic;
}
.founders--medium {
    font-family: 'Founders Grotesk';
    font-weight: 500;
    font-style: normal;
    em, i {
        font-style: italic;
    }
}
/*
.crimson--regular {
    font-family: 'Crimson Text';
    font-weight: normal;
    font-style: normal;
    em, i {
        font-style: italic;
    }
}
.crimson--bold {
    font-family: 'Crimson Text';
    font-weight: bold;
    font-style: normal;
    em, i {
        font-weight: bold;
        font-style: italic;
    }
}
.crimson--italic {
    font-family: 'Crimson Text';
    font-weight: normal;
    font-style: italic;
}
//*/
.nocturne--light {
    font-family: 'Nocturne Serif';
    font-weight: 300;
    font-style: normal;
    em, i {
        font-style: italic;
    }
}
.nocturne--medium {
    font-family: 'Nocturne Serif';
    font-weight: 500;
    font-style: normal;
    em, i {
        font-weight: bold;
        font-style: italic;
    }
}
.nocturne--semibold {
    font-family: 'Nocturne Serif';
    font-weight: 600;
    font-style: normal;
    em, i {
        font-weight: bold;
        font-style: italic;
    }
}
.nocturne--light-italic {
    font-family: 'Nocturne Serif';
    font-weight: 300;
    font-style: italic;
}