html,
body {
    font-size: $font-size;
    line-height: $base-line;
}
body {
	font-family: $text-font-family;
	color: $color-text;
	background-color: transparent;
}

// Links
a {
	color: $color-link;
}
a:hover {
	color: $color-link-hover;
}

// Headings
h1.title, h1, h2, h3, h4, h5, h6 {
	font-family: $headings-font-family;
	font-weight: bold;
	color: $color-headings;
	text-rendering: optimizeLegibility;
    margin-bottom: $heading-margin-bottom;
    padding-bottom: 30px;
}
h1.title {
    font-size: $heading-font-size-title;
    line-height: $heading-base-line-title;
    margin-bottom: $heading-margin-bottom/2;
}
h1,
.h1 {
    font-size: $heading-font-size-1;
    line-height: $heading-base-line-1;
}
h2,
.h2 {
    font-size: $heading-font-size-2;
    line-height: $heading-base-line-2;
}
h3,
.h3 {
    font-size: $heading-font-size-3;
    line-height: $heading-base-line-3;
}
h4,
.h4 {
    font-size: $heading-font-size-4;
    line-height: $heading-base-line-4;
}
h5,
.h5 {
    font-size: $heading-font-size-5;
    line-height: $heading-base-line-5;
}
h6,
.h6 {
    font-size: $heading-font-size-6;
    line-height: $heading-base-line-6;
}
h1 a, .h1 a,
h2 a, .h2 a,
h3 a, .h3 a,
h4 a, .h4 a,
h5 a, .h5 a,
h6 a, .h6 a {
  color: inherit;
}

// Top Space
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
form,
figure {
	+ h2,
	+ h3,
	+ h4,
	+ h5,
	+ h6 {
		margin-top: $base-line;
	}
}

// Lists
ul,
ol {
    &,
    & ul,
    & ol {
	    margin: 0 0 0 $base-line;
	}
}
ol ol li {
	list-style-type: lower-alpha;
}
ol ol ol li {
	list-style-type: lower-roman;
}
nav {
    & ul,
    & ol {
        margin: 0;
	    list-style: none;
	    & ul,
	    & ol {
    	    margin-left: $base-line;
	    }
	}
}
dl dt {
	font-weight: bold;
}
dd {
	margin-left: $base-line;
}

// Block Tags
p, blockquote, hr, pre, ol, ul, dl, table, fieldset, figure, address, form {
	margin-bottom: $text-margin-bottom;
}
hr {
    border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	margin-top: -1px;
}
blockquote {
	padding-left: 1rem;
	border-left: 4px solid rgba(0, 0, 0, .1);
	font-style: italic;
	color: rgba($color-text, .65);
	& p {
    	margin-bottom: .5rem;
	}
}

// Inline
time, cite, small, figcaption {
	font-size: 87.5%;
}
cite {
    opacity: .6;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted rgba(0, 0, 0, .5);
	cursor: help;
}
var {
    font-size: $font-size;
	opacity: .6;
	font-style: normal;
}
mark, code, samp, kbd {
    position: relative;
    top: -1px;
	padding: 4px 4px 2px 4px;
	display: inline-block;
	line-height: 1;
	color: rgba($color-text, .85);
}
code {
	background: $color-silver;
}
mark {
	background: $color-warning;
}
samp {
	color: #fff;
	background: $color-focus;
}
kbd {
	border: 1px solid rgba(0, 0, 0, .1);
}
sub,
sup {
    font-size: x-small;
	line-height: 0;
	margin-left: 1rem/4;
	position: relative;
}
sup {
	top: 0;
}
sub {
	bottom: 1px;
}

// Preformatted
pre, code, samp, var, kbd {
	font-family: $monospace-font-family;
}
pre, code, samp, var, kbd, mark {
	font-size: 87.5%;
}
pre,
pre code {
    background: $color-aluminum;
	padding: 0;
	top: 0;
    display: block;
    line-height: $base-line-small;
    color: rgba($color-text, .85);
	overflow: none;
	white-space: pre-wrap;
}
pre {
    padding: 1rem;
}

// Figure
figcaption {
	opacity: .6;
}
figure figcaption {
    position: relative;
    top: -1rem/2;
}
figure pre {
    background: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
}
figure {
    & .video-container,
    & pre {
        margin-bottom: $text-margin-bottom/2;
    }
}


// Alignment
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

// Modifiers
ul.unstyled {
    & {
        margin-left: 0;
    }
    &,
    & ul {
        list-style: none;
    }
}
.monospace {
   font-family: $monospace-font-family;
}
.upper {
    text-transform: uppercase;
}
.lower {
    text-transform: lowercase;
}
.italic {
    font-style: italic !important;
}
.strong {
    font-weight: bold !important;
}
.normal {
    font-weight: normal !important;
}
.muted {
    opacity: .55;
}
a.muted {
    color: $color-black;
}
a.muted:hover {
    opacity: 1;
}
.black {
    color: $color-black;
}
.smaller {
	font-size: $font-size-smaller;
	line-height: $base-line-smaller;
}
.small {
	font-size: $font-size-small;
	line-height: $base-line-small;
}
.big {
	font-size: $font-size-big;
	line-height: $base-line-big;
}
.large {
	font-size: $font-size-large;
	line-height: $base-line-large;
}
.end {
    margin-bottom: 0 !important;
}
.highlight {
	background-color: $color-highlight;
}
.nowrap,
.nowrap td {
	white-space: nowrap;
}


// Text Columns
@include breakpoint(md) {

    .columns-2,
    .columns-3,
    .columns-4 {
         column-gap: $base-line;
    }

    .columns-2 { column-count: 2; }
    .columns-3 { column-count: 3; }
    .columns-4 { column-count: 4; }
}
// /* =Titles
// -----------------------------------------------------------------------------*/
// h1,h2,h3,h4,h5,h6{
// 	@extend .title-bold;
// 	color: $color-text;
// 	font-style: normal;
// 	font-weight: normal;
// }

// h1{
// 	font-size: $size-h1-md;
// 	@include media(small){
// 		font-size: $size-h1-sm;
// 	}
// 	@include media(medium){
// 		font-size: $size-h1-md;
// 	}
// 	@include media(large){
// 		font-size: $size-h1-lg;
// 	}
// 	@include media(full){
// 		font-size: $size-h1-full;
// 	}
// }

// h2{
// 	font-size: $size-h2-md;
// 	@include media(small){
// 		font-size: $size-h2-sm;
// 	}
// 	@include media(medium){
// 		font-size: $size-h2-md;
// 	}
// 	@include media(large){
// 		font-size: $size-h2-lg;
// 	}
// 	@include media(full){
// 		font-size: $size-h2-full;
// 	}
// }

// h3{
// 	font-size: $size-h3-md;
// 	@include media(small){
// 		font-size: $size-h3-sm;
// 	}
// 	@include media(medium){
// 		font-size: $size-h3-md;
// 	}
// 	@include media(large){
// 		font-size: $size-h3-lg;
// 	}
// 	@include media(full){
// 		font-size: $size-h3-full;
// 	}
// }

// h4{
// 	font-size: $size-h4-md;
// 	@include media(small){
// 		font-size: $size-h4-sm;
// 	}
// 	@include media(medium){
// 		font-size: $size-h4-md;
// 	}
// 	@include media(large){
// 		font-size: $size-h4-lg;
// 	}
// 	@include media(full){
// 		font-size: $size-h4-full;
// 	}
// }

// h5{
// 	font-size: $size-h5-md;
// 	@include media(small){
// 		font-size: $size-h5-sm;
// 	}
// 	@include media(medium){
// 		font-size: $size-h5-md;
// 	}
// 	@include media(large){
// 		font-size: $size-h5-lg;
// 	}
// 	@include media(full){
// 		font-size: $size-h5-full;
// 	}
// }

// h6{
// 	font-size: $size-h6-md;
// 	@include media(small){
// 		font-size: $size-h6-sm;
// 	}
// 	@include media(medium){
// 		font-size: $size-h6-md;
// 	}
// 	@include media(large){
// 		font-size: $size-h6-lg;
// 	}
// 	@include media(full){
// 		font-size: $size-h6-full;
// 	}
// }

// /* =Text
// -----------------------------------------------------------------------------*/
// hr{
// 	width: 100%;
// 	height: 1px;
// 	border: 0;
// 	display: block;
// 	margin: 1.5rem 0;
// 	background-color: $color-divider;
// }

// p, label, span, em, del, strong, cite, small, time, data{
// 	@extend .text;
// 	font-size: $size-text-md;
// 	@include media(small){
// 		font-size: $size-text-sm;
// 	}
// 	@include media(medium){
// 		font-size: $size-text-md;
// 	}
// 	@include media(large){
// 		font-size: $size-text-lg;
// 	}
// 	@include media(full){
// 		font-size: $size-text-full;
// 	}
// }

// p{
// 	color: $color-text;
// }

// label{
// 	color: $color-text;
// }

// span{
// 	color: $color-text;
// }

// em{
// 	color: $color-text;
// }

// del{
// 	color: $color-text;
// }

// strong{
// 	color: $color-text;
// }

// data{
// 	color: $color-text-light;
// }

// cite{
// 	color: $color-text-light;
// }

// small{
// 	color: $color-text-light;
// }

// time{
// 	color: $color-text-light;
// }

// mark{
// 	@extend .text;
// 	color: #000000;
// 	background: #ffe000;
// }

// pre{
// 	@extend .text;
// 	line-height: 1.6;
// 	border: 1px solid $color-divider;
// 	background-color: $color-accent;
// 	padding: 0.25em 0.5em 0.25em;
// }

// code{
// 	@extend .text;
// }


// /* =Svg
// -----------------------------------------------------------------------------*/
// svg{
// 	@include transition(0.3s);
// 	&:hover{
// 		@include transition(0.3s);
// 	}
// }

// /* =Address
// -----------------------------------------------------------------------------*/
// address{
// 	@extend .text;
// 	font-style: normal;
// }

// /* =Blockquote
// -----------------------------------------------------------------------------*/
// blockquote{
// 	margin: 0;
// 	@extend .text;
// 	color: $color-text-light;
// 	font-style: normal;
// 	padding: 0.25em 0.5em 0.25em;
// 	background-color: $color-accent;
// }

// /* =Links
// -----------------------------------------------------------------------------*/
// a{
// 	@extend .text;
// 	color: $color-text;
// 	text-decoration: none;
// 	@include transition(0.3s);
// 	&:active{
// 		@include transition(0.3s);
// 	}
// 	&:visited{
// 		@include transition(0.3s);
// 	}
// 	&:focus{
// 		@include transition(0.3s);
// 	}
// 	&:hover{
// 		@include transition(0.3s);
// 	}
// }

// /* =Buttons
// -----------------------------------------------------------------------------*/
// button{
// 	@extend .text;
// 	@include transition(0.3s);
// 	&:active{
// 		@include transition(0.3s);
// 	}
// 	&:focus{
// 		@include transition(0.3s);
// 	}
// 	&:hover{
// 		@include transition(0.3s);
// 	}
// }

// /* =List
// -----------------------------------------------------------------------------*/
// ul{
// 	li{
// 		@extend .text;
// 		color: $color-text;
// 	}
// }

// ol{
// 	li{
// 		@extend .text;
// 		color: $color-text;
// 	}
// }

// /* =Table
// -----------------------------------------------------------------------------*/
// table{
// 	width: 100%;
// 	border: 1px solid $color-divider;
// 	thead{
// 		tr{
// 			th{
// 				@extend .title;
// 				color: $color-text;
// 			}
// 		}
// 	}
// 	tbody{
// 		tr{
// 			td{
// 				@extend .text;
// 				color: $color-text;
// 			}
// 		}
// 	}
// 	tfoot{
// 		tr{
// 			th{
// 				@extend .title;
// 				color: $color-text;
// 			}
// 		}
// 	}
// }