.k-block-type-quote-text {
  border-left: 0.25rem solid;
  border-left-color: #000;
  padding-left: 0.75rem;
}
.k-block-type-quote-caption p {
  font-size: 1rem;
  line-height: 1.5rem;
  opacity: 0.5;
}