// =BREAKPOINTS
// ---------------------------------------------------------------------------

//Custom
$xs: 480px;

$sm: 768px;
$md: 1024px;
$lg: 1600px;

//Custom
$xl: 1824px;
//$xl: 2560px;

// =SPACE
// ---------------------------------------------------------------------------
$space-2: 2px !default;
$space-4: 4px !default;
$space-8: 8px !default;
$space-12: 12px !default;
$space-16: 16px !default;
$space-20: 20px !default;
$space-24: 24px !default;
$space-28: 28px !default;
$space-32: 32px !default;
$space-36: 36px !default;
$space-40: 40px !default;
$space-44: 44px !default;
$space-48: 48px !default;
$space-52: 52px !default;
$space-56: 56px !default;
$space-60: 60px !default;
$space-64: 64px !default;
$space-72: 72px;
$space-80: 80px !default;
$space-88: 88px;
$space-96: 96px;
$space-100: 100px !default;
$space-104: 104px;
$space-112: 112px;
$space-120: 120px !default;
$space-128: 128px;
$space-160: 160px;
$space-200: 200px;

// map
$map-space: (
  2: $space-2,
  4: $space-4,
  8: $space-8,
  12: $space-12,
  16: $space-16,
  20: $space-20,
  24: $space-24,
  28: $space-28,
  32: $space-32,
  36: $space-36,
  40: $space-40,
  44: $space-44,
  48: $space-48,
  52: $space-52,
  56: $space-56,
  60: $space-60,
  64: $space-64,
  72: $space-72,
  80: $space-80,
  88: $space-88,
  96: $space-96,
  100: $space-100,
  104: $space-104,
  112: $space-112,
  120: $space-120,
  128: $space-128,
  160: $space-160,
  200: $space-200
);

// GRID
// ---------------------------------------------------------------------------
$grid-columns: 12;

//Custom grid
//$grid-width-px: 1200; // pixels
$grid-width-pc: 95%; // percentage NOTE: THIS HAS BEEN TUNED TO WORK AT _modifiers.scss
//$grid-width-max: 1524px;
//$grid-width-max: 91%;
//$grid-width-max: 1740px;
//$grid-width-max: 1800px;
$grid-width-max: 95%;

$grid-gap-special: 80px;
//$grid-gap-special: 48px;
$grid-gap: 24px;

// =FONTFAMILY
// ---------------------------------------------------------------------------
$font-family-text: 'Founders Grotesk';
$font-family-monospace: monospace, monospace;

$text-font-family: 'Founders Grotesk';

//Custom
$text-font-family--italic: 'Founders Grotesk';
//Custom
$text-font-family--bold: 'Founders Grotesk';
//Custom
$text-font-family--bold-italic: 'Founders Grotesk';


// =COLORS
// ---------------------------------------------------------------------------

// Base
$color-black: #111113;
$color-red: #ee2455;
$color-orange: #ff6951;
$color-yellow: #feb701;
$color-blue: #158df7;
$color-violet: #7b2ed7;
$color-green: #20bc71;
$color-inverted: #fff;

// Text
$color-text: #000000 !default;
$color-text-secondary: rgba($color-text, .6) !default;
$color-text-tertiary: rgba($color-text, .5) !default;
$color-text-disabled: rgba($color-text, .4) !default;

// Links
$color-link: #3794de !default;
$color-link-hover: #ff0000 !default;

// States
$color-error: $color-red !default;
$color-success: $color-green !default;
$color-focus: $color-blue !default;
$color-warning: $color-orange !default;

// Accent
$color-accent: $color-red !default;
$color-highlight: rgba($color-focus, .1) !default;

// Button
$color-button: #0c3dd7 !default;

//Light color scale
$white: #ffffff;

// Grayscale
$color-black: #101010;
$color-darkgray: #2C2C2C;
$color-midgray: #8E8E8E;
$color-gray: #bfbdbf;
$color-lightgray: #ded9de;
$color-silver: #f2f0f2;
$color-aluminum: #F7F8F8;

//Custom
$gray-0: $color-black;
$gray-1: $color-darkgray;
$gray-2: $color-midgray;
$gray-3: $color-gray;
$gray-4: $color-lightgray;
$gray-5: $color-silver;
$gray-6: $color-aluminum;

// Text
$color-text: #000;
$color-headings: #000;

//Custom
/*

Should you need to define extra colors,
here is the place, now is the time.

THE CRAYOLA METHOD

Follow the next tutorial and name your stuff:

https://coryetzkorn.com/blog/color-variables-in-sass/
http://chir.ag/projects/name-that-color/

Example:
$purple-heart: #5B2CCB;

*/

$blue-0: #2250B8;
$blue-1: #3A86FF;
$blue-2: #0085D4;
$blue-3: #C1E8FF;

$red-1: #EF233C;
$red-2: #FF5267;
$red-3: #FF909D;

$pink-1: #FF006E;
$pink-2: #FF65A7;
$pink-3: #FFB2D3;
$pink-4: #F9C7DD;

$yellow-1: #F7B700;
$yellow-2: #F0C549;
$yellow-3: #EBCF7C;

$orange-1: #F48C28;
$orange-2: #FAA14A;
$orange-3: #EABB8E;

//$green-1: #2FC38F;
$green-1: #02A36B;
$green-2: #2FC38F;
$green-3: #88D3B9;

$coral-1: #FF6B6B;
$coral-2: #480000;
$coral-3: #FF7E7E;

$purple-1: #8338EC;
$purple-2: #8A6ED9;
$purple-3: #C1A5E7;

//Custom
$body-background-color: $gray-5;


// =GLOBALS
// ---------------------------------------------------------------------------

// Font Metrics
$letter-height: 12/16;
$crop-top:  0.49em;
$crop-bottom: 0.49em;

// Font Size
$font-size-smaller: 0.75em !default; // 12px
$font-size-small: 0.875em !default; // 14px
$font-size-default: 1em !default; // 16px
$font-size-big: 1.125em !default; // 18px
$font-size-large: 1.3125em !default; // 22px
$font-size-ui: 0.9375em !default; // 15px

// Baseline
$base-line: 1.5;
$base-line-big: 1.45 !default;
$base-line-large: 1.45 !default;
$base-line-ems: $base-line * 1em !default;

//Custom
$base-line-px: 24px;

// Box Shadow
$shadow-1: 0 1px 3px rgba($color-black, .15) !default;
$shadow-2: 0 6px 24px rgba($color-black, .12) !default;
$shadow-3: 0 15px 40px rgba($color-black, .2) !default;

// Border
$border-radius: 4px !default;
$border: 1px solid rgba($color-black, .07) !default;

// Input/Buttons Height
$controls-height: ((40/(strip-unit($font-size-ui)*16)) * 1em) !default; // 40px in ems
$controls-height-small: ((32/(strip-unit($font-size-small)*16)) * 1em) !default; // 32px in ems
$controls-height-big: ((44/(strip-unit($font-size-big)*16)) * 1em) !default; // 44px in ems

// Overlay
$overlay-background-color: rgba($color-black, .18) !default;



// =HEADINGS
// ---------------------------------------------------------------------------

// Font Size
$headings-font-size-1: 2.5em !default; // 40
$headings-font-size-2: 1.75em !default; // 28
$headings-font-size-3: 1.5em !default; // 24
$headings-font-size-4: 1.25em !default; // 20
$headings-font-size-5: 1em !default; // 16
$headings-font-size-6: .75em !default; // 12

// Baseline
$headings-base-line: 1.25 !default;

// Weight
$headings-font-weight: bold !default;

// =TABLE
// ---------------------------------------------------------------------------

$table-font-size: $font-size-ui !default;
$table-color-text: inherit !default;
$table-padding-tb: $space-16 !default;
$table-padding-rl: $space-16 !default;
$table-border: 1px solid #eee !default;
$table-background-striped: #fafafa !default;
$table-th-border-width: 1px !default;
$table-th-border-color: #eee !default;

// head
$table-head-font-weight: 700 !default;
$table-head-color-text: inherit !default;

// caption
$table-caption-font-size: 11px !default;
$table-caption-font-weight: bold !default;
$table-caption-color-text: rgba($color-text, .4) !default;
$table-caption-text-transform: uppercase !default;
$table-caption-letter-spacing: 1px !default;


// OVERLAY
// ---------------------------------------------------------------------------
$overlay-background-color: rgba(#fff, .95);