/* =Playground Base
-----------------------------------------------------------------------------*/

html, body {
    width: 100%;
    min-height: 100%; //min-height: -webkit-fill-available;
    height: 100% !important;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $body-background-color;
    color: $gray-6;
    background: $gray-6; //@extend .no-select;
    //overflow-x: hidden;
    //overflow-y: auto;
    overflow: hidden;
}
body {
    position: relative; //min-height: 100vh;
    min-height: 100%; //min-height: -webkit-fill-available;
    //REGULAR SCROLLBAR EXPERIENCE:
    //overflow-y: scroll;
    //overflow-x: hidden;
    //FULLSCREEN / FULL BLEED / NO SCROLLBAR EXPERIENCE:
    //overflow: hidden;
}
/* =CONTAINER TOOLS
-----------------------------------------------------------------------------*/

.container {
    position: relative;
    z-index: 10;
}
.grid-1200, .grid-margin {
    position: relative;
    max-width: $grid-width-pc; //width: $grid-width;
    margin: 0 auto; //left: (100% - $grid-width-pc) / 2;
    //@extend .horizontal-align;
}
// Responsive Utilities
@media only screen and (max-width: $sm) {
    .grid-1200, .grid-margin {
        position: relative;
        max-width: 100%;
    }
}
@media (min-width: 0) and (max-width: $md) {
    .grid-1200, .grid-margin {
        position: relative;
        margin: 0 auto;
    }
}
@media (min-width: $xl) {
    .grid-1200, .grid-margin {
        position: relative;
        max-width: $grid-width-max;
    }
}
.full-image-container {
    top: 0;
    left: 0;
    position: absolute; //display: block;
    z-index: 5;
    width: 100%;
    height: 100%;
}
.full-video-container {
    top: 0;
    left: 0;
    position: absolute; //display: block;
    z-index: 5;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.full-height-relative {
    height: 100%;
}
.full-height-vh {
    height: 100vh;
}
.video-cover {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 25; //height: 500px;
}
.video-bg {
    //position: absolute;
    //display: block;
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;
    //overflow: hidden;
    //width: 100%;
    //height: 100%;
    //z-index: 3;
}
.video-bg>video {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* 1. No object-fit support: */

@media (min-aspect-ratio: 16/9) {
    .video-bg>video {
        height: 300%;
        top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    .video-bg>video {
        width: 300%;
        left: -100%;
    }
}
/* 2. If supporting object-fit, overriding (1): */

@supports (object-fit: cover) {
    .video-bg>video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.overlay-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    background: $gray-0;
    opacity: .25;
}
.overlay-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    background: #242424;
    opacity: .65;
}
//EXTRA TOOLS FROM INVASORIA.COM
.column-padding {
    padding-left: $base-line-px;
    padding-right: $base-line-px;
}
@media only screen and (max-width: $sm) {
    .column-padding--not-on-mobile {
        padding-left: 0;
        padding-right: 0;
    }
    .column-padding {
        padding-left: 16px;
        padding-right: 16px;
    }
}
.column-padding--left {
    padding-left: $base-line-px;
}
.column-padding--right {
    padding-right: $base-line-px;
}
.hidden-from-view {
    visibility: hidden;
}
.display-none {
    display: none !important;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-x-hidden {
    overflow-x: hidden;
}
.overflow-y-hidden {
    overflow-y: hidden;
}
.item-4 {
    position: relative;
    width: 10px;
    height: 4px;
}
.item-8 {
    position: relative;
    width: 10px;
    height: 8px;
}
.item-10 {
    position: relative;
    width: 10px;
    height: 10px;
}
.item-16 {
    position: relative;
    width: 16px;
    height: 16px;
}
.item-20 {
    position: relative;
    width: 10px;
    height: 20px;
}
.item-24 {
    position: relative;
    width: 10px;
    height: 24px;
}
.item-30 {
    position: relative;
    width: 10px;
    height: 30px;
}
.item-32 {
    position: relative;
    width: 10px;
    height: 32px;
}
.item-40 {
    position: relative;
    width: 10px;
    height: 40px;
}
.item-48 {
    position: relative;
    width: 10px;
    height: 48px;
}
.item-50 {
    position: relative;
    width: 10px;
    height: 50px;
}
.item-56 {
    position: relative;
    width: 10px;
    height: 56px;
}
.item-60 {
    position: relative;
    width: 10px;
    height: 60px;
}
.item-64 {
    position: relative;
    width: 10px;
    height: 64px;
}
.item-70 {
    position: relative;
    width: 10px;
    height: 70px;
}
.item-72 {
    position: relative;
    width: 10px;
    height: 72px;
}
.item-80 {
    position: relative;
    width: 10px;
    height: 80px;
}
.item-88 {
    position: relative;
    width: 10px;
    height: 88px;
}
.item-90 {
    position: relative;
    width: 10px;
    height: 90px;
}
.item-96 {
    position: relative;
    width: 10px;
    height: 96px;
}
.item-100 {
    position: relative;
    width: 10px;
    height: 100px;
}
.item-120 {
    position: relative;
    width: 10px;
    height: 120px;
}
.item-128 {
    position: relative;
    width: 10px;
    height: 128px;
}
.item-160 {
    position: relative;
    width: 10px;
    height: 160px;
}
.item-200 {
    position: relative;
    width: 10px;
    height: 200px;
}
/* =NO SELECT
-----------------------------------------------------------------------------*/

.noselect, .no-select, .select-disabled {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* non-prefixed version, currently not supported by any browser */
}
/* =TEXT SELECTION COLOR & BACKGROUNDS
-----------------------------------------------------------------------------*/

::-moz-selection {
    //color: #fff;
    //background: $color-2-w;
    color: $gray-0;
    background: $blue-3;
}
::selection {
    //color: #fff;
    //background: $color-2-w;
    color: $gray-0;
    background: $blue-3;
}
/* =IMAGE AND EFFECTS HELPERS, VISUAL CUES
-----------------------------------------------------------------------------*/

.bg-img {
    img {
        display: none;
    }
}
.wow {
    visibility: hidden;
}
.red-bg {
    background: red;
}
.white-bg {
    background: #fff;
}
/* = POSITION
-----------------------------------------------------------------------------*/

.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.fixed {
    position: fixed;
}
/* =Z-INDEX
-----------------------------------------------------------------------------*/

.lowerz, .before {
    z-index: 5;
}
.midz, .middle {
    z-index: 15;
}
.upperz, .after {
    z-index: 30;
}
/*
.no-visible {
    opacity: 0;
}
*/

/* =MARGINS
-----------------------------------------------------------------------------*/

.no-margin, .end {
    margin-bottom: 0 !important;
}
.margin-right-4 {
    margin-right: 4px !important;
}
.margin-right-8 {
    margin-right: 8px !important;
}
.margin-right-16 {
    margin-right: 16px !important;
}
.margin-right-24 {
    margin-right: 24px !important;
}
.margin-bottom-8 {
    margin-bottom: 8px !important;
}
.margin-bottom-80 {
    margin-bottom: 80px !important;
}
/* =ROW ALIGN
-----------------------------------------------------------------------------*/

.justify-center {
    @include justify-content(center);
}
.justify-right {
    @include justify-content(right);
}
.align-middle {
    @include align-items(center);
}
.align-stretch {
    @include align-items(stretch);
}
.align-end {
    @include align-items(flex-end);
}
.flex-0 {
    &.is-col {
        flex: 0;
    }
}
.is-flex {
    .is-col {
        flex: 0;
    }
}
/* =HOVERS
-----------------------------------------------------------------------------*/

.hover-link {
    content: '';
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    position: absolute;
}
.hover-link--hover {
    width: 100%;
    left: initial;
    right: 0;
}
/* =BORDER BOTTOM EFFECTS
-----------------------------------------------------------------------------*/

.sliding-u-l-r-l {
    display: inline-block;
    position: relative;
    padding-bottom: 0; //margin-top: -10px;
}
.sliding-u-l-r-l:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 3px;
    height: 2px;
    width: 0; //transition: width 0s ease, background .5s ease;
    //transition: all 600ms cubic-bezier(1, 0, 0, 1);
    transition: width 0ms cubic-bezier(0.77, 0, 0.175, 1), background 600ms cubic-bezier(0.77, 0, 0.175, 1);
}
.sliding-u-l-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 3px;
    height: 2px;
    width: 0;
    background: $red-1; //transition: width .5s ease;
    //transition: all 600ms cubic-bezier(1, 0, 0, 1);
    transition: width 600ms cubic-bezier(0.77, 0, 0.175, 1);
}
.sliding-u-l-r-l:hover:before {
    width: 100%;
    background: $red-1; //transition: width .5s ease;
    transition: width 600ms cubic-bezier(0.77, 0, 0.175, 1);
}
.sliding-u-l-r-l:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}
.underline--dark {
    &:hover:before {
        background: $gray-1;
    }
    &:after {
        background: $gray-1;
    }
}
.reset-button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    border-radius: 0;
    outline: none;
    text-align: inherit;
    &:-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}