/* =Size breakpoints
-----------------------------------------------------------------------------*/

@mixin media($breakpoint...){

	/* =Mobile
	-----------------------------------------------------------------------------*/
	@if index($breakpoint, xs){
		@media only screen and (max-width : $xs) {
			@content;
		}
	}

	/* =SmarthPhone
	-----------------------------------------------------------------------------*/
	@if index($breakpoint, small){
		@media only screen and (max-width: $sm) {
			@content;
		}
	}

	/* =Laptop
	-----------------------------------------------------------------------------*/
	@if index($breakpoint, medium){
		@media only screen and (max-width: $md) {
		//@media (min-width: $sm) and (max-width: $md) {
			@content;
		}
	}

	/* =Desktop
	-----------------------------------------------------------------------------*/
	@if index($breakpoint, large){
		@media (min-width:$lg){
			@content;
		}
	}

	/* =Larger than Full HD
	-----------------------------------------------------------------------------*/
	@if index($breakpoint, xl){
		@media (min-width:$xl){
			@content;
		}
	}
}