.cis__header__nav {
    position: relative;
    padding-top: 80px;
    padding-top: 40px;
    background: $light-0;
    //background: $white;
    @include media(small) {
        padding-top: 24px;
    }
    @include media(large) {
        padding-top: 64px;
    }
}
/*
.cis__header__nav__type-logo {
    position: relative;
    @extend .founders--medium;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin: 0;
    span {
        color: $pink-1;
    }
    a {
        @extend .founders--medium;
    }
}
*/

.cis__header__nav__type-logo, .cis__header__nav__type-logo a {
    position: relative;
    @extend .founders--medium;
    display: inline-block;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0;
    color: $gray-0;
    text-transform: uppercase;
    margin: 0;
    span {
        color: $pink-1;
    }
}