.k-block-type-blurb img {
  display: block;
  margin-bottom: 1rem;
  max-height: 6rem;
  max-width: 6rem;
}
.k-block-type-blurb-heading {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.k-block-type-blurb-text {
  margin-bottom: 0.5rem;
}
[class*="k-block-type-blurb-"]:last-child {
  margin-bottom: 0;
}