/*=COVER
----------------------------------------------------------------------*/

.cover {
    position: relative; //transform: translateY(200px);
    width: 100%; //height: 100%;
    //min-height: 100vh;
    //background: $gray-6;
    //visibility: hidden;
    z-index: 50;
}
.cover__hero {
    position: relative;
    padding-top: 128px;
    padding-bottom: 208px;
    @include media(small) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    h2 {
        margin-bottom: 40px;
    }
    border-bottom: 1px solid $gray-6;
    overflow: hidden;
}
.main-carousel {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: 0;
    left: 0; //background: red;
    @include media(small) {
        min-height: 700px;
    }
}
.main-carousel__cell {
    position: relative;
    width: 100%;
    height: initial; //min-height: 60vh;
    //min-height: 600px;
    //background: red;
}
.main-carousel__cell__container {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transform: translateY(80px);
    @include media(small) {
        //position: relative;
        //transform: translateY(0px);
        //opacity: .25;
        //display: none;
    }
}
/*=CONCEPT HERO FOR COVER
----------------------------------------------------------------------*/

.cis__concept-hero {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 95vh; //border-bottom: 1px solid $gray-4;
    //background: $gray-6;
    /*
    &:before {
        content: '';
        position: absolute;
        width: 50%;
        //width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        //background: $body-background-color;
        background: $gray-6;
        z-index: -1;
    }
    //*/
    @extend .no-select;
    @include media(small) {
        min-height: 90vh;
        height: 90vh;
    }
}
.cis__special-backgound {
    //background: $gray-6;
    //*
    &:before {
        content: '';
        position: absolute;
        width: 50%; //width: 100%;
        height: 100%;
        top: 0;
        right: 0; //background: $body-background-color;
        background: $gray-6;
        z-index: -1;
    } //*/
}
.cis__concept-hero__special-nav {
    //display: none;
    position: absolute;
    left: 0;
    width: calc(100% - calc(100% / 12 * 2 + #{$grid-gap}));
    z-index: 50;
    margin-left: calc(100% / 12 * 1 + #{$grid-gap});
    @extend .vertical-align;
    margin-top: 64px;
    @include media(small) {
        margin-left: 0;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 16px;
    }
}
.cis__concept-hero__section__container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    background: $gray-6;
    background: $gray-6;
    h1, nav {
        //@extend .founders--medium;
        @extend .founders--regular;
        font-size: calc(32px + (160 - 32) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(64px + (120 - 64) * ((100vw - 320px) / (1920 - 320)));
        letter-spacing: -1.15px;
        margin-bottom: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
        color: $gray-1;
        div {
            position: relative;
            margin-bottom: calc((32px + (40 - 32) * ((100vw - 320px) / (1920 - 320))) * -1);
        }
        a {
            color: inherit;
            position: relative;
            display: inline-block;
            text-decoration: none;
            transition: padding 1s cubic-bezier(0.215, 0.61, 0.355, 1), transform 1.25s cubic-bezier(0.215, 0.61, 0.355, 1), color .5s cubic-bezier(0.215, 0.61, 0.355, 1);
            line-height: .9;
            height: 100%;
            .cis__concept-link {
                position: relative;
                display: inline-block;
                overflow: hidden;
                padding-top: 16px;
                margin-bottom: -16px;
            }
            .cis__concept-link__top {
                position: relative;
                display: block;
                transition: transform 1s var(--ease-quint-in-out);
            }
            .cis__concept-link__bottom {
                position: absolute;
                top: 0;
                left: 0;
                transform: translateY(105%);
                transition: transform 1s var(--ease-quint-in-out);
                padding-top: 16px;
                margin-bottom: -16px;
                width: 100%;
                .cis__concept-link__container {
                    position: relative;
                }
                .cis__concept-link__bg {
                    position: absolute;
                    content: '';
                    width: 0%; //height: 90%;
                    //height: 24px;
                    //bottom: 24px;
                    height: calc(6px + (24 - 6) * ((100vw - 320px) / (1920 - 320)));
                    bottom: calc(6px + (35 - 6) * ((100vw - 320px) / (1920 - 320)));
                    z-index: -1;
                    transition: width .5s var(--ease-quint-out);
                    transition-delay: .2s;
                }
                /*
                &:before {
                    position: absolute;
                    content: '';
                    width: 50%;
                    //height: 86%;
                    height: 32px;
                    background: $coral-1;
                    bottom: 24px;
                    left: 0;
                    z-index: -1;
                    transition: width .5s var(--ease-quint-out);
                }
                .cis__concept-link__bottom, h2.cis__concept-link__bottom, h1.cis__concept-link__bottom {
                    //padding-left: calc(0px + (120 - 0) * ((100vw - 320px) / (1920 - 320)));
                    transition: padding 1s var(--ease-quint-out);
                    &:before {
                        //width: calc(64px + (120 - 64) * ((100vw - 320px) / (1920 - 320)));
                        width: 10vw;
                        transition: width 1.5s var(--ease-quint-out);
                    }
                }
                //*/
            }
            .cis__concept-link__bottom--right-aligned {
                text-align: right;
            }
            .cis__underline {
                position: relative;
                text-decoration: underline;
            }
            &:hover {
                .cis__concept-link__bg {
                    width: 100%;
                    transition: width .75s var(--ease-quint-in-out); //transition-delay: .25s;
                }
                .cis__concept-link__top {
                    transform: translateY(-105%);
                    transition: transform 0.65s var(--ease-quint-in-out);
                }
                .cis__concept-link__bottom {
                    transform: translateY(5%);
                    transition: transform 0.65s var(--ease-quint-in-out);
                }
                .cis__block {
                    //transform: translateY(200%);
                    //width: 100%;
                    transition: transform 0.65s var(--ease-quint-in-out), width 0.65s var(--ease-quint-in-out);
                }
            }
            @include media(large) {
                line-height: .9;
            }
            @include media(xl) {
                line-height: .85;
            }
        }
        .js-disabled-anchor {
            pointer-events: none;
        }
        .cis__concept-link--anchor {
            position: relative;
        }
        .cis__concept-link--anchor-2 {
            margin-left: 10%;
        }
        .cis__concept-link--anchor-3 {
            order: 1;
            @include media(small) {
                order: 2;
                width: 60%;
                position: relative;
                margin-bottom: 16px;
            }
        }
        .cis__concept-link--anchor-4 {
            margin-left: 30%;
            @include media(medium) {
                margin-left: 25%;
            }
        }
        .cis__concept-link--pink {
            .cis__concept-link__bottom {
                color: $pink-1;
            }
            .cis__concept-link__bg {
                background: $pink-1;
            }
        }
        .cis__concept-link--red {
            .cis__concept-link__bottom {
                color: $red-1;
            }
            .cis__concept-link__bg {
                background: $red-1;
            }
        }
        .cis__concept-link--blue {
            .cis__concept-link__bottom {
                &:before {
                    background: $blue-1;
                }
            }
            .cis__concept-link__bg {
                background: $blue-1;
            }
        }
        .cis__concept-link--yellow {
            .cis__concept-link__bottom {
                &:before {
                    background: $yellow-1;
                }
            }
            .cis__concept-link__bg {
                background: $yellow-1;
            }
        }
        .cis__concept-link--coral {
            .cis__concept-link__bottom {
                //color: $gray-2;
                //color: $coral-1;
                &:before {
                    background: $coral-1;
                }
            }
            .cis__concept-link__bg {
                background: $coral-1;
            }
        }
        .cis__concept-link--green {
            .cis__concept-link__bottom {
                &:before {
                    background: $green-1;
                }
            }
            .cis__concept-link__bg {
                background: $green-1;
            }
        }
        .cis__concept-link--purple {
            .cis__concept-link__bottom {
                //color: $gray-2;
                //color: $coral-1;
                &:before {
                    background: $purple-1;
                }
            }
            .cis__concept-link__bg {
                background: $purple-1;
            }
        }
        .cis__concept-link--orange {
            .cis__concept-link__bottom {
                //color: $gray-2;
                //color: $coral-1;
                &:before {
                    background: $orange-1;
                }
            }
            .cis__concept-link__bg {
                background: $orange-1;
            }
        }
        ul {
            position: relative;
            list-style: none;
            margin: 0;
            li {
                position: relative;
                margin: 0;
                line-height: 1;
            }
        }
        @include media(small) {
            div {
                position: relative;
                margin-bottom: calc((28px + (32 - 28) * ((100vw - 320px) / (1920 - 320))) * -1);
            }
        }
    }
    .cis__concept-link-video-container {
        position: relative;
        display: block;
        @include media(small) {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }
    .cis__concept-link-video {
        order: 2;
        position: relative;
        display: inline-block;
        width: 35%;
        height: auto;
        margin-bottom: -16px;
        list-style: none;
        li {
            position: relative;
            display: inline-block;
            width: 50%;
            float: left;
            &:after {
                content: '';
                display: table;
                clear: both;
            }
        }
        @include media(small) {
            order: 1;
            display: block;
            width: 100%;
            margin: 24px 0 -24px 0;
            li {
                height: 100%;
                margin-bottom: 24px;
            }
        }
    }
    p {
        position: relative;
        font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320))); //letter-spacing: -1.15px;
        //margin-bottom: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
        //font-size: 24px;
        padding-left: 30%;
        @include media(medium) {
            padding-left: 25%;
        }
    }
}
.cis__block {
    position: relative;
    display: inline-block;
    width: 80px;
    height: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
    background: $gray-1;
    margin: 0 8px; //transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 1s var(--ease-quint-in-out), width 1s var(--ease-quint-in-out);
}
/*=MAIN HERO
----------------------------------------------------------------------*/

.cis__hero {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: $gray-6;
    z-index: 60;
}
.cis__align-bottom {
    display: flex; //align-items: flex-end;
    align-items: baseline;
}
.cis__hero--active {
    background: transparent;
    h1, h2, p, h4, a, span, p a {
        color: #ffffff;
        transition: all 650ms cubic-bezier(0.77, 0, 0.175, 1);
    }
    transition: all 650ms cubic-bezier(0.77, 0, 0.175, 1);
}
/*=COVER BACKGROUND
----------------------------------------------------------------------*/

.cover__background {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.cover__background__container {
    position: absolute;
    width: 100%;
    height: 100%;
}