/*=MAIN
----------------------------------------------------------------------*/

:root {
    --ease-cubic-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-cubic-out: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-cubic-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-circ-in: cubic-bezier(0.6, 0.04, 0.98, 0.335);
    --ease-circ-out: cubic-bezier(0.075, 0.82, 0.165, 1);
    --ease-circ-in-out: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    --ease-expo-in: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    --ease-expo-out: cubic-bezier(0.19, 1, 0.22, 1);
    --ease-expo-in-out: cubic-bezier(1, 0, 0, 1);
    --ease-quad-in: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-quad-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-quad-in-out: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --ease-quart-in: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    --ease-quart-out: cubic-bezier(0.165, 0.84, 0.44, 1);
    --ease-quart-in-out: cubic-bezier(0.77, 0, 0.175, 1);
    --ease-quint-in: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    --ease-quint-out: cubic-bezier(0.23, 1, 0.32, 1);
    --ease-quint-in-out: cubic-bezier(0.86, 0, 0.07, 1);
    --ease-sine-in: cubic-bezier(0.47, 0, 0.745, 0.715);
    --ease-sine-out: cubic-bezier(0.39, 0.575, 0.565, 1);
    --ease-sine-in-out: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    --ease-back-in: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    --ease-back-out: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --ease-back-in-out: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    --ease-back-out-more: cubic-bezier(0.56, 0.91, 0.465, 1.65);
}
html {
    font-size: $font-size-default;
}
body {
    font-family: $font-family-text;
    color: $color-text;
    line-height: $base-line;
}
.general-scrollbar {
    position: relative;
    width: 100%;
    height: 100% !important; //REGULAR SCROLLBAR EXPERIENCE:
    overflow-y: scroll;
    overflow-x: hidden;
}
.main {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background: $gray-5; //background: transparent;
    z-index: 50;
    @include media(small) {
        transform: translateY(0px);
    }
    transition: transform .75s cubic-bezier(.4, 0, 0, 1);
}
.home {
    position: relative;
    width: 100%;
    z-index: 50;
}
/*
.fetch-container {
    position: relative;
    width: 100%;
    z-index: 50;
}
*/

/*=SPECIAL TEXT AND TYPOGRAPHIC ELEMENTS
----------------------------------------------------------------------*/

.cis__special-text {
    /*
    h1 {
        position: relative;
        display: inline;
        z-index: 30; //@extend .founders--bold;
        //@extend .founders--regular;
        @extend .founders--medium; //text-transform: uppercase;
        //font-size: calc(32px + (136 - 32) * ((100vw - 320px) / (1920 - 320)));
        font-size: calc(32px + (80 - 32) * ((100vw - 320px) / (1920 - 320)));
        line-height: 1; //letter-spacing: -1.15px;
        //letter-spacing: -2px;
        letter-spacing: -0.024em;
        margin-bottom: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
        color: $gray-1;
        &:before {
            position: absolute;
            content: '';
            width: 0;
            height: 32px;
            background: $orange-1;
            bottom: 16px;
            right: 0;
            z-index: -1;
            transition: width .5s var(--ease-quint-out);
        }
    }
    //*/
    h2 {
        position: relative;
        display: inline;
        z-index: 30;
        padding-left: 0;
        transition: padding .5s var(--ease-quint-out);
        letter-spacing: -0.016em; //*
        &:before {
            position: absolute;
            content: '';
            width: 0;
            height: 20px;
            background: $orange-1;
            bottom: 8px;
            right: 0;
            z-index: -1;
            transition: width .5s var(--ease-quint-out);
        } //*/
    }
    .cis__special-text--serif-heading, h2.cis__special-text--serif-heading {
        @extend .nocturne--medium;
        text-transform: uppercase;
        position: relative;
        display: inline;
        z-index: 30;
        padding-left: 0;
        font-size: calc(40px + (64 - 40) * ((100vw - 320px) / (1920 - 320)));
        line-height: .88;
        letter-spacing: -0.024em;
        transition: padding .5s var(--ease-quint-out);
        em {
            position: relative;
            display: inline;
            color: inherit;
            font-style: inherit;
            font-weight: inherit; //border-bottom: 4px solid $orange-1;
            /*
            &:before {
                position: absolute;
                content: '';
                width: 0;
                height: 20px;
                background: $orange-1;
                bottom: 8px;
                right: 0;
                z-index: -1;
                transition: width .5s var(--ease-quint-out);
            }
            //*/
        }
    }
    h1.active-item-reveal {
        strong, b {
            background-size: 100% 80%;
            transition: background-size .75s var(--ease-quint-out);
        }
        strong, b {
            background-size: 100% 80%;
            transition: background-size .75s var(--ease-quint-out);
        }
    }
    h2.active-item-reveal, //h1.active-item-reveal
        {
        padding-left: calc(0px + (88 - 0) * ((100vw - 320px) / (1920 - 320)));
        transition: padding 1.5s var(--ease-quint-in-out);
        &:before {
            width: calc(64px + (120 - 64) * ((100vw - 320px) / (1920 - 320)));
            width: 10vw;
            transition: width 1.5s var(--ease-quint-out);
        }
    }
    p {
        //@extend .nocturne--light;
        @extend .founders--regular;
        position: relative;
        display: block;
        font-size: 20px;
        line-height: 24px;
        color: $gray-1;
        margin-bottom: 24px;
    }
}
/*=FUNCTIONAL STYLES
----------------------------------------------------------------------*/

@import "components/_type.module";
@import "components/_sections.module";
@import "components/_fx.module";
@import "components/_cta.buttons.module";
@import "components/_color.module";
@import "components/_locomotive.scroll.module";
@import "components/_spacer.block";
@import "components/_slider.block";
/*=SPECIAL SECTION COMPONENTS
----------------------------------------------------------------------*/

@import "components/_navigation";
@import "components/_privacy.banner";
@import "components/_cursor";
@import "components/_arrow.cta";
@import "components/_attract.cta";
@import "components/_insights.block";
@import "components/_services.carousel";
@import "components/_services.block";
@import "components/_value.block";
@import "components/_articles.list";
@import "components/_article";
@import "components/_card";
@import "components/_dynamic.image";
@import "components/_marquee.component";
@import "components/_contact";
@import "components/_footer";
.section-preloader {
    position: fixed;
    z-index: 115;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; //pointer-events: none;
    opacity: 0;
    visibility: hidden;
    fill: $gray-6;
    fill: $gray-0;
    transform: translateY(100vh);
}
.section-preloader--slide {
    position: fixed;
    z-index: 115;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    fill: $gray-0;
    transform: translateX(-100vw);
}