/*=SIMPLE CONTENT PAGE
----------------------------------------------------------------------*/

.simple-page, .legal {
    background: $gray-6;
}
.section__hero--simple-page {
    margin-bottom: 0;
    padding-bottom: 120px;
    border-bottom: 1px solid $gray-6;
}
.simple-page__content {
    h1 {
        margin-bottom: 80px;
    }
    h2 {
        margin-bottom: 24px;
    }
    h3 {
        margin-bottom: 16px;
    }
    p, ul, li {
        font-size: 16px;
        line-height: 24px;
    }
    ul {
        position: relative;
        color: $gray-3;
        margin-bottom: 40px;
        padding-left: 24px;
    }
    hr {
        border: none;
        border-top: 1px solid $gray-5;
        margin-bottom: 24px;
    }
    b, strong {
        @extend .founders--bold;
        color: $gray-1;
    }
    a {
        //text-decoration: underline;
        transition: color 650ms cubic-bezier(0.77, 0, 0.175, 1);
        &:hover {
            color: $pink-1;
            transition: color 250ms cubic-bezier(0.77, 0, 0.175, 1);
        }
    }
}