.k-block-type-heading-jumbo__h1 {
  font-size: 7rem;
  font-weight: 700;
  line-height: 6.5rem;
}
.k-block-type-heading-hero__h1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.5rem;
}
.k-block-type-heading-h1 {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 3rem;
}
.k-block-type-heading-hero__h1 b, .k-block-type-heading-hero__h1 strong  {
  font-weight: 900;
}
.k-block-type-heading-h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
}
.k-block-type-heading-h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}
.k-block-type-heading-h4 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.5rem;
}
.k-block-type-heading-h5 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.k-block-type-heading-h6 {
  font-size: .75rem;
  font-weight: 700;
  line-height: .75rem;
}