.k-block-type-pricing img {
  margin-bottom: 0.5rem;
  max-height: 6rem;
  max-width: 6rem;
}
.k-block-type-pricing-heading {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.k-block-type-pricing-price {
  font-size: 2rem;
  line-height: 2.375rem;
  margin-bottom: 0.5rem;
}
.k-block-type-pricing-price strong {
  font-weight: 900 !important;
}
.k-block-type-pricing-price-details {
  margin-bottom: 1rem;
}
.k-block-type-pricing-price-details p {
  opacity: 0.5;
}
.k-block-type-pricing-text {
  margin-bottom: 0.5rem;
}
.k-block-type-pricing-features {
  margin-bottom: 0.5rem;
}
.k-block-type-pricing button.k-block-button {
  margin-top: 0.5rem;
}
[class*="k-block-type-pricing-"]:first-child,
.k-block-type-pricing button.k-block-button:first-child {
  margin-top: 0;
}
[class*="k-block-type-pricing-"]:last-child {
  margin-bottom: 0;
}